@{
    ViewData["Title"] = "Projects";
}

<div id="Projects" class="v-container" v-cloak>

    <h2>@ViewData["Title"]</h2>
    <hr />

    <partial name="~/views/projects/forms/ProjectsResult.cshtml" />

    <partial name="~/views/projects/forms/projectform.cshtml" />

    <partial name="~/views/projects/forms/ProjectStatusModifications.cshtml" />

</div>


@section styles{
    <link href="~/css/Dashboard.min.css" rel="stylesheet" />
    <link href="~/css/projects.min.css" rel="stylesheet" />
}

@section scripts{

    @* Plugins *@
    <script src="https://unpkg.com/vuejs-paginate@latest"></script>

    @* Services *@
    <script src="~/services/ProjectsService.js"></script>
    <script src="~/services/CategoriesService.js"></script>
    <script src="~/services/TeamsService.js"></script>

    <script src="~/js/projects.js"></script>
}
