
@{
    ViewData["Title"] = "Projects Progress";
    var userId = ViewData["UserId"] ?? null;
}
@model ProjectTracking.DataContract.User
<div class="container" id="app" v-cloak>
    <input type="hidden" value="@userId" id="UserIdField" />
    <h2 class="mb-3">

        @(Model == null ? "" : Model.FullName + "'s")
        Projects Progress
    </h2>
    <h4 v-if="!measurementTotals.length>0">
        No Accomplishments Yet
    </h4>
    <ul class="nav nav-pills my-5" v-show="measurementTotals.length>0">
        <li class="active"><a data-toggle="tab" href="#AccomplishmentsPerProject">Accomplishments Per Project </a></li>
        <li><a class="" data-toggle="tab" href="#TotalAccopmplishments">Total Accomplishments</a></li>

    </ul>
    <div class="tab-content" v-show="measurementTotals.length>0">
        <div id="TotalAccopmplishments" class="tab-pane fade">

            <h3 class="mb-1">Total Accomplishments</h3>
            <div class="mt-5">
                <div class="form-inline mt-5">
                    <span class="mt-5">Filter Total Accomplishments :</span>

                    <div class="form-group">
                        <label for="YearSelector">
                            Year
                            <select v-show="projectProgressYears.length>0" v-on:change="GetProjectProgressMonthsByYear(yearOfTotals)" v-model="yearOfTotals" class="form-control" id="YearSelector">
                                <option selected></option>
                                <option v-for="year in projectProgressYears" :value="year">{{year}}</option>
                            </select>
                        </label>
                    </div>
                    <div class="form-group" v-show="yearOfTotals>0 && projectProgressMonths.length>0">
                        <label for="MonthSelector">
                            Month
                            <select v-model="monthOfTotals" v-on:change="getProjectProgressDatesByMonthAndYear(yearOfTotals,monthOfTotals)" class="form-control" id="MonthSelector">
                                <option selected></option>
                                <option v-for="month in projectProgressMonths" :value="month">{{month}}</option>

                            </select>
                        </label>
                    </div>
                    <div class="form-group" v-show="yearOfTotals>0 &&monthOfTotals>0&&projectProgressDays.length>0">
                        <label for="DaySelector">
                            Day
                            <select class="form-control" v-model="dayOfTotals" id="DaySelector">
                                <option selected></option>
                                <option v-for="day in projectProgressDays" :value="day">{{day}}</option>
                            </select>
                        </label>
                    </div>
                    <button v-on:click="GetTotalProjectsProgress()" class="Button ml-4 Button-Shared">Search</button>
                </div>

            </div>
            <div class="dashboard-insights">
                <div class="dashboard-insight d-inline-block text-center" v-for="measurementTotal in measurementTotals">
                    <div v-bind:class="{ 'mt-3': measurementTotal.number==0 }">
                        <h4 v-if="measurementTotal.number>0">{{measurementTotal.number}}</h4>
                    </div>
                    <div>
                        <h4 v-bind:class="{ 'mt-4': measurementTotal.number==0 }"> {{measurementTotal.measurementUnit}}  </h4>
                    </div>
                    <div class="">
                        <h5 v-bind:class="{ 'mt-4': measurementTotal.number==0 }"> {{measurementTotal.hours}} hours</h5>
                    </div>
                </div>
            </div>
        </div>
        <div id="AccomplishmentsPerProject" class="tab-pane fade in active">
            <h3>Accomplishments Per Project</h3>
            <div class="my-5">
                <span><strong>Filter By :</strong></span>
                <label class="radio-inline">
                    <input type="radio" v-bind:value="0" v-model="filterProgress" v-on:click="getFiltered(0)">
                    none
                </label>
                <label class="radio-inline">
                    <input type="radio" v-bind:value="1" v-model="filterProgress" v-on:click="getFiltered(1)">
                    Year
                </label>
                <label class="radio-inline">
                    <input type="radio" v-bind:value="2" v-model="filterProgress" v-on:click="getFiltered(2)">
                    Year And Month
                </label>
            </div>
            <input class="Button-Shared" type="button" onclick="tableToExcel('ProjectsProgressTable', 'ProjectsProgressTable', `ProjectsProgressTable.xls`)" value="Export to Excel" />
            <a id="dlink" style="display:none;"></a>

            <div class="table-responsive" style="max-height:300px;">
                <table class="table" id="ProjectsProgressTable">
                    <thead>
                        <tr>
                            <th>Project Title </th>
                            <th v-if="filterProgress==1||filterProgress==2">Year</th>
                            <th v-if="filterProgress==2">Month</th>
                            <th>Hours</th>

                            <th>Number accomplished</th>
                            <th>Measurment Unit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="projectsProgress in projectsProgresses">
                            <td>{{projectsProgress.projectTitle}}</td>
                            <td v-if="filterProgress==1||filterProgress==2">{{projectsProgress.year}}</td>
                            <td v-if="filterProgress==2">{{projectsProgress.month}}</td>
                            <td>{{projectsProgress.hours}}</td>

                            <td>{{projectsProgress.number}}</td>
                            <td>{{projectsProgress.measurementUnit}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <link href="~/css/Dashboard.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/services/ProjectsStatisticsService.js"></script>
    <script src="~/js/ProjectsProgress.js"></script>
}
