
<div id="ProjectOverview" class="v-container" >

    <section class="project-buttons">
        <button class="s-btn s-btn-primary" :disabled="overview.isLoading" @@click="showMembers()"><i class="fa fa-users"></i> Members</button>
        <button class="s-btn s-btn-primary" :disabled="overview.isLoading" @@click="showTeams()"><i class="fa fa-user-friends"></i> Teams</button>
    </section>

    @* Tabs (Overview, Members, Broadcasts) *@

    <section class="project-visualization">
        <div class="c-box-view c-box-view--wrap" v-if="overview.data">
            <div class="c-box">
                <h5 class="c-box-title">Active Activities</h5>
                <div class="scrollable-container-200">
                    <table class="table" v-if="overview.data.activeActivities.length">
                        <thead>
                            <tr>
                                <th>task</th>
                                <th>started on</th>
                                <th>by user</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="activity in overview.data.activeActivities">
                                <td>
                                    <a :href="`/tasks/${activity.projectTask.id}`">
                                        {{activity.projectTask.title}}
                                    </a>
                                </td>
                                <td>{{activity.fromDateDisplay}}</td>
                                <td>
                                    <a :href="`/profile/${activity.user.id}`">
                                        {{activity.user.fullName}}
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 v-else>Nothing here yet</h5>
                </div>
            </div>
            <div class="c-box vis-workload">
                <h5 class="c-box-title">Workload</h5>
                <canvas id="bar_workload"></canvas>
            </div>
            <div class="c-box vis-activities">
                <h5 class="c-box-title">Activities</h5>
                <canvas id="line_activities"></canvas>
            </div>
            <div class="c-box vis-tasks-progress">
                <h5 class="c-box-title">Task Progress</h5>
                <canvas id="pie_tasks"></canvas>
            </div>
        </div>
    </section>

    <div class="modal" id="MembersModal">

        <div class="modal-dialog modal-sm">

            <div class="modal-content" v-if="overview.data">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <h5 class="modal-title">

                        <span v-if="!overview.data.members.length">The project has no members yet</span>
                        <span v-else><i class="fa fa-users"></i> {{overview.data.members.length}} Member{{overview.data.members.length > 1 ?  's' :''}}</span>

                    </h5>

                </div>

                <div class="modal-body">

                    <div class="scrollable-container-400">

                        <a class="clickable-link d-block" :href="`/profile/${member.id}`" v-for="member in overview.data.members">
                            {{member.name}}
                        </a>

                    </div>

                </div>
            </div>
        </div>
    </div>
    
    <div class="modal" id="TeamsModal">

        <div class="modal-dialog modal-sm">

            <div class="modal-content" v-if="overview.data">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <h5 class="modal-title">

                        <span v-if="!overview.data.teams.length">The project has no teams yet</span>
                        <span v-else><i class="fa fa-users"></i> {{overview.data.teams.length}} Team{{overview.data.teams.length > 1 ?  's' :''}}</span>

                    </h5>

                </div>

                <div class="modal-body">

                    <div class="scrollable-container-400">

                        <a class="clickable-link d-block" :href="`/teams/${team.id}`" v-for="team in overview.data.teams">
                            {{team.name}}
                        </a>

                    </div>

                </div>
            </div>
        </div>
    </div>

    

</div>