@{
    ViewData["Title"] = "Index";
    //User.Claims.Select(k=>k.Value.ToLower()).ToList().Contains("applicationuser")
}

@model List<ProjectTracking.DataContract.User>

<div id="Employees" class="container" v-cloak>

    <h2>Employees</h2>
    <p class="py-3">
        <a href="admin/adduser" class="btn Button-Shared">Add Employee</a>
    </p>
    <p v-show="departmentsLoading">Loading...</p>

    <div class="top-controls" v-show="!departmentsLoading">
        <div>

            <select class="form-control" v-model="selectedDepartment">
                <option disabled value="">Select a Department</option>
                <option v-for="option in departments" v-bind:value="option.id">
                    {{option.name}}
                </option>
                <option value="0">Other</option>

            </select>

            <input type="text" placeholder="Search Employees" value="" v-model="searchKey" class="form-control mt-3" v-show="employees.length" />

        </div>

        <div class="buttons mt-3" v-show="employees.length" >
            <button v-on:click="expandAll()"  type="button" class="btn btn-sm Button-Shared">Expand All</button>
            <button v-on:click="collapseAll()" type="button" class="btn btn-sm Button-Shared">Collapse All</button>
        </div>


    </div>

    <hr />

    <p v-show="employeesLoading">Loading...</p>
    <p v-show="!employeesLoading && selectedDepartment !=='' && !employees.length">No employees data in the selected department</p>
    <table class="table table-striped" v-show="employees.length">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th>Company</th>
                <th>Department</th>
                <th>Profile</th>
                <th>Account</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <template v-for="(employee,index ) in employees">
                <tr v-bind:class="{'d-none': employee.isHidden }">
                    <td>
                        <svg v-bind:class="{'cell-arrow': true,'rotate-180' :employee.isExpanded }" v-on:click="expandEmployee(employee,index)" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 451.847 451.847;" xml:space="preserve"><g><path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z" /></g></svg>
                    </td>
                    <td>{{employee.fullName}}</td>
                    <td>{{employee.email}}</td>
                    <td>{{employee.company ? employee.company.name:'-'}}</td>
                    <td>
                        {{employee.department ? employee.department.name: '-'}}
                    </td>
                    <td>
                        <a class="btn Button-Shared btn-sm" v-bind:href="`/employees/profile/${employee.id}`"><i class="fa fa-id-card-alt"></i></a>
                    </td>
                    <td>
                        <a class="btn btn-warning btn-sm" v-bind:href="`/admin/EditUser/${employee.id}`">Edit</a>
                    </td>
                    <td>
                        <a class="btn Button-Shared btn-sm disabled" disabled v-bind:href="`/admin/DeleteUser?Id=${employee.id}`"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                <tr v-bind:class="{'d-none': employee.isExpanded === undefined || !employee.isExpanded }">
                    <td colspan="6">
                        <span class="label label-danger">Requests {{employee.requestedPermissions.length}}</span>
                    </td>
                </tr>
            </template>


        </tbody>
    </table>
</div>


@section Styles{
    <link href="~/css/employees.min.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/js/Employees.js"></script>
}
