
@{
    string userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value;
}

<div id="Dashboard" class="v-container" data-user="@userId">

    <h2>Good afternoon, @User.Identity.Name</h2>

    <section class="c-box-view c-box-view--wrap">

        <div class="c-box c-box--loading" v-for="i in loadingBoxes"></div>

        @* # common # *@
        <partial name="~/Views/Home/Overview/Notifications.cshtml" />

        @* # member #*@
        <partial name="~/Views/Home/Overview/MemberOverview.cshtml" />

        @* # supervisor #*@
        <partial name="~/Views/Home/Overview/SupervisorOverview.cshtml" />

        @* #admin *@
        <partial name="~/Views/Home/Overview/AdminOverview.cshtml" />


    </section>

</div>

@section styles{
    <link href="~/css/Home.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/services/HomeService.js"></script>
    <script src="~/services/UsersService.js"></script>

    <script src="~/js/Home.js"></script>
}