@* collapsed *@

@inject ProjectTracking.Data.Methods.Interfaces.ITimeSheetsMethods timesheetMethods

@{
    string userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value;
    string team_claim = User.FindFirst("Team")?.Value;

    int? teamId = team_claim == null ? (int?)null : int.Parse(team_claim);
}


<div class="side-bar " id="SideBar" v-cloak>

    <a class="title">
        @(ViewData["FullName"] ?? User.Identity.Name)
    </a>

    <a class="side-bar-item" href="/" side-bar-tooltip="Dashboard">
        <span class="name">Dashboard</span>
        <span class="icon">
            <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m197.332031 170.667969h-160c-20.585937 0-37.332031-16.746094-37.332031-37.335938v-96c0-20.585937 16.746094-37.332031 37.332031-37.332031h160c20.589844 0 37.335938 16.746094 37.335938 37.332031v96c0 20.589844-16.746094 37.335938-37.335938 37.335938zm-160-138.667969c-2.941406 0-5.332031 2.390625-5.332031 5.332031v96c0 2.945313 2.390625 5.335938 5.332031 5.335938h160c2.945313 0 5.335938-2.390625 5.335938-5.335938v-96c0-2.941406-2.390625-5.332031-5.335938-5.332031zm0 0" /><path d="m197.332031 512h-160c-20.585937 0-37.332031-16.746094-37.332031-37.332031v-224c0-20.589844 16.746094-37.335938 37.332031-37.335938h160c20.589844 0 37.335938 16.746094 37.335938 37.335938v224c0 20.585937-16.746094 37.332031-37.335938 37.332031zm-160-266.667969c-2.941406 0-5.332031 2.390625-5.332031 5.335938v224c0 2.941406 2.390625 5.332031 5.332031 5.332031h160c2.945313 0 5.335938-2.390625 5.335938-5.332031v-224c0-2.945313-2.390625-5.335938-5.335938-5.335938zm0 0" /><path d="m474.667969 512h-160c-20.589844 0-37.335938-16.746094-37.335938-37.332031v-96c0-20.589844 16.746094-37.335938 37.335938-37.335938h160c20.585937 0 37.332031 16.746094 37.332031 37.335938v96c0 20.585937-16.746094 37.332031-37.332031 37.332031zm-160-138.667969c-2.945313 0-5.335938 2.390625-5.335938 5.335938v96c0 2.941406 2.390625 5.332031 5.335938 5.332031h160c2.941406 0 5.332031-2.390625 5.332031-5.332031v-96c0-2.945313-2.390625-5.335938-5.332031-5.335938zm0 0" /><path d="m474.667969 298.667969h-160c-20.589844 0-37.335938-16.746094-37.335938-37.335938v-224c0-20.585937 16.746094-37.332031 37.335938-37.332031h160c20.585937 0 37.332031 16.746094 37.332031 37.332031v224c0 20.589844-16.746094 37.335938-37.332031 37.335938zm-160-266.667969c-2.945313 0-5.335938 2.390625-5.335938 5.332031v224c0 2.945313 2.390625 5.335938 5.335938 5.335938h160c2.941406 0 5.332031-2.390625 5.332031-5.335938v-224c0-2.941406-2.390625-5.332031-5.332031-5.332031zm0 0" /></svg>
        </span>
    </a>

    @if (User.IsInRole("TeamMember") || timesheetMethods.UserHasTimeSheet(userId))
    {
        <a class="side-bar-item" href="/timesheets/explore" side-bar-tooltip="TimeSheets">
            <span class="name">Schedules</span>
            <span class="icon">
                <svg height="30px" viewBox="-1 0 512 512" width="30px" xmlns="http://www.w3.org/2000/svg"><path d="m360 242.839844v-207.839844c0-19.300781-15.699219-35-35-35h-290c-19.300781 0-35 15.699219-35 35v381c0 19.300781 15.699219 35 35 35h227.148438c24.152343 36.710938 65.714843 61 112.851562 61 74.4375 0 135-60.5625 135-135 0-79.980469-69.660156-143.085938-150-134.160156zm-325 178.160156c-2.757812 0-5-2.242188-5-5v-381c0-2.757812 2.242188-5 5-5h290c2.757812 0 5 2.242188 5 5v214.722656c-14.539062 5.15625-27.941406 12.734375-39.71875 22.253906-3.734375-1.410156 6.6875-.976562-155.28125-.976562-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h128.484375c-6.320313 9.242188-11.523437 19.308594-15.410156 30h-113.074219c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h105.953125c-2.425781 20.433594-.191406 40.886719 6.414063 60zm340 61c-57.898438 0-105-47.101562-105-105s47.101562-105 105-105 105 47.101562 105 105-47.101562 105-105 105zm0 0" /><path d="m135 121h150c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15h-150c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15zm0 0" /><path d="m135 181h150c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15h-150c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15zm0 0" /><path d="m135 241h150c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15h-150c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15zm0 0" /><path d="m90 106c0 8.285156-6.714844 15-15 15s-15-6.714844-15-15 6.714844-15 15-15 15 6.714844 15 15zm0 0" /><path d="m90 166c0 8.285156-6.714844 15-15 15s-15-6.714844-15-15 6.714844-15 15-15 15 6.714844 15 15zm0 0" /><path d="m90 226c0 8.285156-6.714844 15-15 15s-15-6.714844-15-15 6.714844-15 15-15 15 6.714844 15 15zm0 0" /><path d="m90 286c0 8.285156-6.714844 15-15 15s-15-6.714844-15-15 6.714844-15 15-15 15 6.714844 15 15zm0 0" /><path d="m90 346c0 8.285156-6.714844 15-15 15s-15-6.714844-15-15 6.714844-15 15-15 15 6.714844 15 15zm0 0" /><path d="m375 301c-8.285156 0-15 6.714844-15 15v45h-30c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h45c8.285156 0 15-6.714844 15-15v-60c0-8.285156-6.714844-15-15-15zm0 0" /></svg>
            </span>
        </a>
    }


    <a class="side-bar-item" v-on:click="handleSideBarNotificationClick" side-bar-tooltip="Notifications">
        <span class="name">Notifications <span v-show="hasNewNotification" class="notification-flag"></span></span>
        <span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve"><g><g><path d="M504.45,365.901c-60.22-60.237-69.282-90.462-69.282-186.701c0-98.97-80.213-179.2-179.166-179.2S76.836,80.231,76.836,179.2c0,51.891-1.382,71.262-8.525,95.044c-8.883,29.628-27.119,57.993-60.766,91.657C-8.574,382.029,2.844,409.6,25.645,409.6h142.054l-1.289,12.8c0,49.485,40.107,89.6,89.583,89.6c49.476,0,89.583-40.115,89.583-89.6l-1.289-12.8h142.063C509.16,409.6,520.578,382.029,504.45,365.901z M256.01,486.4c-35.337,0-63.991-28.663-63.991-64l1.289-12.8h125.389l1.306,12.8C320.002,457.737,291.347,486.4,256.01,486.4z M25.653,384c76.783-76.8,76.783-128,76.783-204.8c0-84.821,68.753-153.6,153.566-153.6s153.566,68.779,153.574,153.6c0,76.8,0,128,76.783,204.8H25.653z" /></g></g></svg>
        </span>
    </a>

    <a class="side-bar-item" href="/profile" side-bar-tooltip="Admin">
        <span class="name">Profile</span>
        <span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 480 480" style="enable-background:new 0 0 480 480;" xml:space="preserve"><g><g><path d="M240,0C107.664,0,0,107.664,0,240c0,57.96,20.656,111.184,54.992,152.704c0.088,0.12,0.096,0.272,0.192,0.384c24.792,29.896,55.928,52.816,90.624,67.624c0.4,0.168,0.792,0.352,1.192,0.52c2.808,1.184,5.648,2.28,8.496,3.352c1.12,0.424,2.24,0.856,3.376,1.264c2.456,0.88,4.928,1.712,7.416,2.512c1.592,0.512,3.184,1.016,4.792,1.496c2.2,0.656,4.408,1.288,6.632,1.888c1.952,0.528,3.92,1.016,5.888,1.488c1.992,0.48,3.992,0.96,6,1.384c2.24,0.48,4.504,0.904,6.776,1.32c1.824,0.336,3.64,0.688,5.48,0.984c2.52,0.408,5.056,0.728,7.6,1.056c1.64,0.208,3.272,0.448,4.92,0.624c2.88,0.304,5.784,0.52,8.696,0.72c1.352,0.096,2.696,0.24,4.056,0.312c4.248,0.24,8.544,0.368,12.872,0.368s8.624-0.128,12.888-0.352c1.36-0.072,2.704-0.216,4.056-0.312c2.912-0.208,5.816-0.416,8.696-0.72c1.648-0.176,3.28-0.416,4.92-0.624c2.544-0.328,5.08-0.648,7.6-1.056c1.832-0.296,3.656-0.648,5.48-0.984c2.264-0.416,4.528-0.84,6.776-1.32c2.008-0.432,4-0.904,6-1.384c1.968-0.48,3.936-0.968,5.888-1.488c2.224-0.592,4.432-1.232,6.632-1.888c1.608-0.48,3.2-0.984,4.792-1.496c2.488-0.8,4.96-1.632,7.416-2.512c1.128-0.408,2.248-0.84,3.376-1.264c2.856-1.072,5.688-2.176,8.496-3.352c0.4-0.168,0.792-0.352,1.192-0.52c34.688-14.808,65.832-37.728,90.624-67.624c0.096-0.112,0.104-0.272,0.192-0.384C459.344,351.184,480,297.96,480,240C480,107.664,372.336,0,240,0z M337.256,441.76c-0.12,0.056-0.232,0.12-0.352,0.176c-2.856,1.376-5.76,2.672-8.688,3.936c-0.664,0.28-1.32,0.568-1.984,0.848c-2.56,1.072-5.152,2.088-7.76,3.064c-1.088,0.408-2.176,0.808-3.272,1.192c-2.312,0.824-4.632,1.616-6.976,2.368c-1.456,0.464-2.92,0.904-4.384,1.336c-2.08,0.624-4.168,1.224-6.28,1.784c-1.776,0.472-3.568,0.904-5.36,1.328c-1.88,0.448-3.752,0.904-5.648,1.304c-2.072,0.44-4.16,0.816-6.24,1.192c-1.688,0.312-3.368,0.64-5.072,0.912c-2.344,0.368-4.712,0.664-7.072,0.96c-1.496,0.192-2.984,0.416-4.496,0.576c-2.696,0.288-5.416,0.472-8.128,0.664c-1.208,0.08-2.408,0.216-3.632,0.28c-3.96,0.208-7.928,0.32-11.912,0.32s-7.952-0.112-11.904-0.32c-1.216-0.064-2.416-0.192-3.632-0.28c-2.72-0.184-5.432-0.376-8.128-0.664c-1.512-0.16-3-0.384-4.496-0.576c-2.36-0.296-4.728-0.592-7.072-0.96c-1.704-0.272-3.384-0.6-5.072-0.912c-2.088-0.376-4.176-0.76-6.24-1.192c-1.896-0.4-3.776-0.856-5.648-1.304c-1.792-0.432-3.584-0.856-5.36-1.328c-2.104-0.56-4.2-1.168-6.28-1.784c-1.464-0.432-2.928-0.872-4.384-1.336c-2.344-0.752-4.672-1.544-6.976-2.368c-1.096-0.392-2.184-0.792-3.272-1.192c-2.608-0.976-5.2-1.992-7.76-3.064c-0.664-0.272-1.312-0.56-1.976-0.84c-2.928-1.256-5.832-2.56-8.696-3.936c-0.12-0.056-0.232-0.112-0.352-0.176c-27.912-13.504-52.568-32.672-72.576-55.952c15.464-56.944,59.24-102.848,115.56-121.112c1.112,0.68,2.272,1.288,3.416,1.928c0.672,0.376,1.336,0.776,2.016,1.136c2.384,1.264,4.8,2.448,7.272,3.512c1.896,0.832,3.856,1.536,5.808,2.256c0.384,0.136,0.768,0.288,1.152,0.424c10.848,3.84,22.456,6.04,34.6,6.04s23.752-2.2,34.592-6.04c0.384-0.136,0.768-0.288,1.152-0.424c1.952-0.72,3.912-1.424,5.808-2.256c2.472-1.064,4.888-2.248,7.272-3.512c0.68-0.368,1.344-0.76,2.016-1.136c1.144-0.64,2.312-1.248,3.432-1.936c56.32,18.272,100.088,64.176,115.56,121.112C389.824,409.08,365.168,428.248,337.256,441.76z M152,176c0-48.52,39.48-88,88-88s88,39.48,88,88c0,30.864-16.008,58.024-40.128,73.736c-3.152,2.048-6.432,3.88-9.8,5.48c-0.4,0.192-0.792,0.392-1.192,0.576c-23.168,10.536-50.592,10.536-73.76,0c-0.4-0.184-0.8-0.384-1.192-0.576c-3.376-1.6-6.648-3.432-9.8-5.48C168.008,234.024,152,206.864,152,176z M421.832,370.584c-18.136-53.552-59.512-96.832-112.376-117.392C330.6,234.144,344,206.64,344,176c0-57.344-46.656-104-104-104s-104,46.656-104,104c0,30.64,13.4,58.144,34.552,77.192c-52.864,20.568-94.24,63.84-112.376,117.392C31.672,333.792,16,288.704,16,240C16,116.488,116.488,16,240,16s224,100.488,224,224C464,288.704,448.328,333.792,421.832,370.584z" /></g></g></svg>
        </span>
    </a>

    <hr />

    @if (User.IsInRole("Supervisor"))
    {
        <a class="side-bar-item" href="/teams" side-bar-tooltip="Teams">
            <span class="name">Teams</span>
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 505.4 505.4" style="enable-background:new 0 0 505.4 505.4;" xml:space="preserve"><g><g><path d="M437.1,233.45c14.8-10.4,24.6-27.7,24.6-47.2c0-31.9-25.8-57.7-57.7-57.7c-31.9,0-57.7,25.8-57.7,57.7c0,19.5,9.7,36.8,24.6,47.2c-12.7,4.4-24.3,11.2-34.1,20c-13.5-11.5-29.4-20.3-46.8-25.5c21.1-12.8,35.3-36.1,35.3-62.6c0-40.4-32.7-73.1-73.1-73.1c-40.4,0-73.1,32.8-73.1,73.1c0,26.5,14.1,49.8,35.3,62.6c-17.2,5.2-32.9,13.9-46.3,25.2c-9.8-8.6-21.2-15.3-33.7-19.6c14.8-10.4,24.6-27.7,24.6-47.2c0-31.9-25.8-57.7-57.7-57.7s-57.7,25.8-57.7,57.7c0,19.5,9.7,36.8,24.6,47.2C28.5,247.25,0,284.95,0,329.25v6.6c0,0.2,0.2,0.4,0.4,0.4h122.3c-0.7,5.5-1.1,11.2-1.1,16.9v6.8c0,29.4,23.8,53.2,53.2,53.2h155c29.4,0,53.2-23.8,53.2-53.2v-6.8c0-5.7-0.4-11.4-1.1-16.9H505c0.2,0,0.4-0.2,0.4-0.4v-6.6C505.2,284.85,476.8,247.15,437.1,233.45z M362.3,186.15c0-23,18.7-41.7,41.7-41.7s41.7,18.7,41.7,41.7c0,22.7-18.3,41.2-40.9,41.7c-0.3,0-0.5,0-0.8,0s-0.5,0-0.8,0C380.5,227.45,362.3,208.95,362.3,186.15z M194.9,165.35c0-31.5,25.6-57.1,57.1-57.1s57.1,25.6,57.1,57.1c0,30.4-23.9,55.3-53.8,57c-1.1,0-2.2,0-3.3,0c-1.1,0-2.2,0-3.3,0C218.8,220.65,194.9,195.75,194.9,165.35z M59.3,186.15c0-23,18.7-41.7,41.7-41.7s41.7,18.7,41.7,41.7c0,22.7-18.3,41.2-40.9,41.7c-0.3,0-0.5,0-0.8,0s-0.5,0-0.8,0C77.6,227.45,59.3,208.95,59.3,186.15z M125.5,320.15H16.2c4.5-42.6,40.5-76,84.2-76.3c0.2,0,0.4,0,0.6,0s0.4,0,0.6,0c20.8,0.1,39.8,7.8,54.5,20.3C141.7,279.75,131,298.95,125.5,320.15z M366.8,359.95c0,20.5-16.7,37.2-37.2,37.2h-155c-20.5,0-37.2-16.7-37.2-37.2v-6.8c0-62.1,49.6-112.9,111.3-114.7c1.1,0.1,2.3,0.1,3.4,0.1s2.3,0,3.4-0.1c61.7,1.8,111.3,52.6,111.3,114.7V359.95z M378.7,320.15c-5.5-21.1-16-40-30.3-55.6c14.8-12.8,34-20.5,55-20.7c0.2,0,0.4,0,0.6,0s0.4,0,0.6,0c43.7,0.3,79.7,33.7,84.2,76.3H378.7z" /></g></g></svg>
            </span>
        </a>
    }

    @if (User.IsInRole("TeamMember") && teamId.HasValue)
    {
        <a class="side-bar-item" href="/teams/@teamId.Value" side-bar-tooltip="Teams">
            <span class="name">Team</span>
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 505.4 505.4" style="enable-background:new 0 0 505.4 505.4;" xml:space="preserve"><g><g><path d="M437.1,233.45c14.8-10.4,24.6-27.7,24.6-47.2c0-31.9-25.8-57.7-57.7-57.7c-31.9,0-57.7,25.8-57.7,57.7c0,19.5,9.7,36.8,24.6,47.2c-12.7,4.4-24.3,11.2-34.1,20c-13.5-11.5-29.4-20.3-46.8-25.5c21.1-12.8,35.3-36.1,35.3-62.6c0-40.4-32.7-73.1-73.1-73.1c-40.4,0-73.1,32.8-73.1,73.1c0,26.5,14.1,49.8,35.3,62.6c-17.2,5.2-32.9,13.9-46.3,25.2c-9.8-8.6-21.2-15.3-33.7-19.6c14.8-10.4,24.6-27.7,24.6-47.2c0-31.9-25.8-57.7-57.7-57.7s-57.7,25.8-57.7,57.7c0,19.5,9.7,36.8,24.6,47.2C28.5,247.25,0,284.95,0,329.25v6.6c0,0.2,0.2,0.4,0.4,0.4h122.3c-0.7,5.5-1.1,11.2-1.1,16.9v6.8c0,29.4,23.8,53.2,53.2,53.2h155c29.4,0,53.2-23.8,53.2-53.2v-6.8c0-5.7-0.4-11.4-1.1-16.9H505c0.2,0,0.4-0.2,0.4-0.4v-6.6C505.2,284.85,476.8,247.15,437.1,233.45z M362.3,186.15c0-23,18.7-41.7,41.7-41.7s41.7,18.7,41.7,41.7c0,22.7-18.3,41.2-40.9,41.7c-0.3,0-0.5,0-0.8,0s-0.5,0-0.8,0C380.5,227.45,362.3,208.95,362.3,186.15z M194.9,165.35c0-31.5,25.6-57.1,57.1-57.1s57.1,25.6,57.1,57.1c0,30.4-23.9,55.3-53.8,57c-1.1,0-2.2,0-3.3,0c-1.1,0-2.2,0-3.3,0C218.8,220.65,194.9,195.75,194.9,165.35z M59.3,186.15c0-23,18.7-41.7,41.7-41.7s41.7,18.7,41.7,41.7c0,22.7-18.3,41.2-40.9,41.7c-0.3,0-0.5,0-0.8,0s-0.5,0-0.8,0C77.6,227.45,59.3,208.95,59.3,186.15z M125.5,320.15H16.2c4.5-42.6,40.5-76,84.2-76.3c0.2,0,0.4,0,0.6,0s0.4,0,0.6,0c20.8,0.1,39.8,7.8,54.5,20.3C141.7,279.75,131,298.95,125.5,320.15z M366.8,359.95c0,20.5-16.7,37.2-37.2,37.2h-155c-20.5,0-37.2-16.7-37.2-37.2v-6.8c0-62.1,49.6-112.9,111.3-114.7c1.1,0.1,2.3,0.1,3.4,0.1s2.3,0,3.4-0.1c61.7,1.8,111.3,52.6,111.3,114.7V359.95z M378.7,320.15c-5.5-21.1-16-40-30.3-55.6c14.8-12.8,34-20.5,55-20.7c0.2,0,0.4,0,0.6,0s0.4,0,0.6,0c43.7,0.3,79.7,33.7,84.2,76.3H378.7z" /></g></g></svg>
            </span>
        </a>
    }

    @if (User.IsInRole("Admin"))
    {
        <a class="side-bar-item" href="/teams/form" data-alt-paths="/teams" side-bar-tooltip="Teams">
            <span class="name">Teams</span>
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 505.4 505.4" style="enable-background:new 0 0 505.4 505.4;" xml:space="preserve"><g><g><path d="M437.1,233.45c14.8-10.4,24.6-27.7,24.6-47.2c0-31.9-25.8-57.7-57.7-57.7c-31.9,0-57.7,25.8-57.7,57.7c0,19.5,9.7,36.8,24.6,47.2c-12.7,4.4-24.3,11.2-34.1,20c-13.5-11.5-29.4-20.3-46.8-25.5c21.1-12.8,35.3-36.1,35.3-62.6c0-40.4-32.7-73.1-73.1-73.1c-40.4,0-73.1,32.8-73.1,73.1c0,26.5,14.1,49.8,35.3,62.6c-17.2,5.2-32.9,13.9-46.3,25.2c-9.8-8.6-21.2-15.3-33.7-19.6c14.8-10.4,24.6-27.7,24.6-47.2c0-31.9-25.8-57.7-57.7-57.7s-57.7,25.8-57.7,57.7c0,19.5,9.7,36.8,24.6,47.2C28.5,247.25,0,284.95,0,329.25v6.6c0,0.2,0.2,0.4,0.4,0.4h122.3c-0.7,5.5-1.1,11.2-1.1,16.9v6.8c0,29.4,23.8,53.2,53.2,53.2h155c29.4,0,53.2-23.8,53.2-53.2v-6.8c0-5.7-0.4-11.4-1.1-16.9H505c0.2,0,0.4-0.2,0.4-0.4v-6.6C505.2,284.85,476.8,247.15,437.1,233.45z M362.3,186.15c0-23,18.7-41.7,41.7-41.7s41.7,18.7,41.7,41.7c0,22.7-18.3,41.2-40.9,41.7c-0.3,0-0.5,0-0.8,0s-0.5,0-0.8,0C380.5,227.45,362.3,208.95,362.3,186.15z M194.9,165.35c0-31.5,25.6-57.1,57.1-57.1s57.1,25.6,57.1,57.1c0,30.4-23.9,55.3-53.8,57c-1.1,0-2.2,0-3.3,0c-1.1,0-2.2,0-3.3,0C218.8,220.65,194.9,195.75,194.9,165.35z M59.3,186.15c0-23,18.7-41.7,41.7-41.7s41.7,18.7,41.7,41.7c0,22.7-18.3,41.2-40.9,41.7c-0.3,0-0.5,0-0.8,0s-0.5,0-0.8,0C77.6,227.45,59.3,208.95,59.3,186.15z M125.5,320.15H16.2c4.5-42.6,40.5-76,84.2-76.3c0.2,0,0.4,0,0.6,0s0.4,0,0.6,0c20.8,0.1,39.8,7.8,54.5,20.3C141.7,279.75,131,298.95,125.5,320.15z M366.8,359.95c0,20.5-16.7,37.2-37.2,37.2h-155c-20.5,0-37.2-16.7-37.2-37.2v-6.8c0-62.1,49.6-112.9,111.3-114.7c1.1,0.1,2.3,0.1,3.4,0.1s2.3,0,3.4-0.1c61.7,1.8,111.3,52.6,111.3,114.7V359.95z M378.7,320.15c-5.5-21.1-16-40-30.3-55.6c14.8-12.8,34-20.5,55-20.7c0.2,0,0.4,0,0.6,0s0.4,0,0.6,0c43.7,0.3,79.7,33.7,84.2,76.3H378.7z" /></g></g></svg>
            </span>
        </a>
    }

    @if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
    {

        <a class="side-bar-item" href="/projects" side-bar-tooltip="Projects">
            <span class="name">Projects</span>
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 55.999 55.999" style="enable-background:new 0 0 55.999 55.999;" xml:space="preserve"><g><path d="M55.125,32.588l-2.85-2.85c-1.164-1.164-3.057-1.162-4.221,0L32.664,45.129l-2.121,7.779l-0.519,0.519c-0.388,0.388-0.389,1.014-0.006,1.405l-0.005,0.02l0.019-0.005c0.194,0.19,0.446,0.288,0.699,0.288c0.256,0,0.512-0.098,0.707-0.293l0.52-0.52l7.778-2.121l15.39-15.391C56.29,35.646,56.29,33.752,55.125,32.588z M34.973,45.649l10.243-10.242l4.243,4.242L39.216,49.892L34.973,45.649z M34.07,47.574l3.22,3.22l-4.428,1.208L34.07,47.574z M53.711,35.396l-2.839,2.839l-4.243-4.242l2.839-2.839c0.385-0.385,1.01-0.384,1.394-0.001l2.85,2.85C54.096,34.386,54.096,35.012,53.711,35.396z" /> <path d="M27,12.865c-0.552,0-1,0.447-1,1s0.448,1,1,1h18c0.552,0,1-0.447,1-1s-0.448-1-1-1H27z" /> <path d="M46,27.865c0-0.553-0.448-1-1-1H27c-0.552,0-1,0.447-1,1s0.448,1,1,1h18C45.552,28.865,46,28.417,46,27.865z" /> <path d="M20.58,8.106c-0.418-0.36-1.05-0.313-1.41,0.108l-6.248,7.288L9.1,12.636c-0.442-0.33-1.068-0.242-1.4,0.2c-0.332,0.441-0.242,1.068,0.2,1.399l4.571,3.429c0.18,0.135,0.39,0.2,0.6,0.2c0.283,0,0.563-0.119,0.76-0.35l6.857-8C21.047,9.096,20.999,8.465,20.58,8.106z" /><path d="M20.58,22.106c-0.418-0.36-1.05-0.313-1.41,0.108l-6.248,7.288L9.1,26.636c-0.442-0.331-1.068-0.241-1.4,0.2s-0.242,1.068,0.2,1.399l4.571,3.429c0.18,0.135,0.39,0.2,0.6,0.2c0.283,0,0.563-0.119,0.76-0.35l6.857-8C21.047,23.096,20.999,22.465,20.58,22.106z" /><path d="M19.169,37.214l-6.248,7.287L9.1,41.635c-0.442-0.331-1.068-0.241-1.4,0.2s-0.242,1.068,0.2,1.399l4.571,3.429c0.18,0.135,0.39,0.2,0.6,0.2c0.283,0,0.563-0.119,0.76-0.35l6.857-7.999c0.359-0.419,0.311-1.05-0.108-1.409C20.161,36.746,19.529,36.794,19.169,37.214z" /><path d="M25,52.865H12.176C6.565,52.865,2,48.3,2,42.689V13.04C2,7.429,6.565,2.865,12.176,2.865h29.648C47.435,2.865,52,7.429,52,13.04v11.824c0,0.553,0.448,1,1,1s1-0.447,1-1V13.04c0-6.714-5.462-12.176-12.176-12.176H12.176C5.462,0.865,0,6.326,0,13.04v29.648c0,6.714,5.462,12.176,12.176,12.176H25c0.552,0,1-0.447,1-1S25.552,52.865,25,52.865z" /></g></svg>
            </span>
        </a>

        <a class="side-bar-item" href="/manage" data-path-prefix="/" side-bar-tooltip="Manage">
            <span class="name">Manage</span>
            <span class="icon">
                <svg viewBox="0 0 439 439.91588" xmlns="http://www.w3.org/2000/svg"><path d="m220.414062 76.902344c-78.878906 0-143.054687 64.171875-143.054687 143.054687 0 78.878907 64.175781 143.054688 143.054687 143.054688 78.882813 0 143.054688-64.175781 143.054688-143.054688 0-78.882812-64.171875-143.054687-143.054688-143.054687zm-72 247.738281v-50.144531c.039063-15.429688 11.558594-28.421875 26.871094-30.308594 20.238282 23.585938 55.230469 27.597656 80.277344 9.203125 3.664062-2.679687 7.007812-5.765625 9.96875-9.203125 15.320312 1.886719 26.839844 14.875 26.882812 30.308594v50.144531c-21 14.101563-45.324218 22.371094-72 22.371094-26.675781 0-51-8.269531-72-22.371094zm160-13.042969v-37.101562c-.066406-25.699219-20.898437-46.507813-46.601562-46.539063-2.542969 0-4.9375 1.214844-6.445312 3.265625-8.171876 11.125-21.148438 17.699219-34.953126 17.699219-13.804687 0-26.785156-6.574219-34.957031-17.699219-1.503906-2.050781-3.898437-3.265625-6.441406-3.265625-25.699219.03125-46.535156 20.839844-46.601563 46.539063v37.101562c-24.960937-23.953125-39.082031-57.046875-39.101562-91.640625 0-70.058593 57.019531-127.054687 127.078125-127.054687s127.109375 57 127.109375 127.054687c-.011719 34.59375-14.128906 67.6875-39.085938 91.640625zm0 0" /><path d="m414.585938 242.398438c1.933593-17.835938 1.464843-35.851563-1.386719-53.566407l22.140625-21.234375c2.421875-2.320312 3.136718-5.90625 1.792968-8.980468l-25.207031-57.621094c-1.359375-3.109375-4.53125-5.023438-7.917969-4.769532l-30.648437 2.253907c-11.03125-14.195313-24.121094-26.664063-38.835937-36.992188l.898437-30.617187c.101563-3.390625-1.949219-6.476563-5.113281-7.699219l-58.648438-22.636719c-3.152344-1.214844-6.730468-.320312-8.9375 2.238282l-19.859375 23.015624c-17.839843-1.929687-35.859375-1.464843-53.574219 1.386719l-21.234374-22.140625c-2.320313-2.421875-5.90625-3.136718-8.980469-1.792968l-57.617188 25.214843c-3.109375 1.359375-5.023437 4.53125-4.773437 7.914063l2.253906 30.652344c-14.195312 11.03125-26.664062 24.121093-36.992188 38.832031l-30.617187-.898438c-3.394531-.113281-6.484375 1.941407-7.699219 5.117188l-22.632812 58.644531c-1.21875 3.152344-.324219 6.726562 2.234375 8.9375l23.019531 19.859375c-1.933594 17.835937-1.46875 35.851563 1.386719 53.566406l-22.144531 21.234375c-2.421876 2.320313-3.136719 5.90625-1.789063 8.980469l25.210937 57.617187c1.359376 3.109376 4.53125 5.023438 7.917969 4.773438l30.648438-2.253906c11.03125 14.195312 24.121093 26.664062 38.832031 36.992187l-.898438 30.617188c-.101562 3.390625 1.949219 6.476562 5.117188 7.699219l58.648438 22.636718c3.152343 1.21875 6.730468.324219 8.9375-2.238281l19.855468-23.019531c17.835938 1.933594 35.851563 1.46875 53.566406-1.382813l21.234376 22.140625c2.324218 2.421875 5.90625 3.136719 8.980468 1.792969l57.621094-25.210937c3.105469-1.359376 5.019531-4.53125 4.769531-7.914063l-2.253906-30.648437c14.195313-11.035157 26.664063-24.125 36.992187-38.839844l30.617188.898437c3.390625.097657 6.476562-1.953125 7.699219-5.117187l22.636719-58.648438c1.214843-3.152344.320312-6.726562-2.238282-8.9375zm-10.277344 76.398437-29.320313-.863281c-2.761719-.085938-5.367187 1.261718-6.894531 3.5625-10.59375 15.910156-23.878906 29.859375-39.253906 41.21875-2.207032 1.632812-3.425782 4.28125-3.222656 7.019531l2.15625 29.335937-47.316407 20.699219-20.3125-21.179687c-1.859375-1.9375-4.566406-2.8125-7.210937-2.328125-18.878906 3.453125-38.175782 3.953125-57.207032 1.476562-2.667968-.347656-5.332031.667969-7.089843 2.707031l-18.953125 21.972657-48.109375-18.5625.859375-29.324219c.082031-2.753906-1.261719-5.359375-3.554688-6.890625-15.914062-10.597656-29.863281-23.878906-41.222656-39.253906-1.632812-2.207031-4.28125-3.421875-7.019531-3.222657l-29.335938 2.15625-20.699219-47.316406 21.175782-20.3125c1.941406-1.859375 2.816406-4.566406 2.332031-7.210937-3.457031-18.878907-3.953125-38.175781-1.476563-57.207031.347657-2.667969-.671874-5.332032-2.707031-7.089844l-21.976562-18.960938 18.566406-48.109375 29.324219.863281c2.753906.078126 5.359375-1.265624 6.890625-3.5625 10.597656-15.910156 23.878906-29.855468 39.257812-41.21875 2.207031-1.628906 3.421875-4.28125 3.21875-7.015624l-2.15625-29.339844 47.316407-20.699219 20.3125 21.179687c1.859374 1.9375 4.570312 2.8125 7.210937 2.332032 18.882813-3.460938 38.1875-3.960938 57.222656-1.480469 2.667969.347656 5.332031-.671875 7.089844-2.707031l18.957031-21.972656 48.105469 18.566406-.863281 29.320312c-.082032 2.757813 1.261718 5.363282 3.558594 6.894532 15.910156 10.59375 29.859374 23.878906 41.21875 39.253906 1.632812 2.207031 4.28125 3.421875 7.019531 3.222656l29.335937-2.15625 20.703125 47.316406-21.179687 20.3125c-1.9375 1.859375-2.816406 4.566406-2.332032 7.210938 3.457032 18.878906 3.957032 38.175781 1.480469 57.207031-.347656 2.667969.667969 5.328125 2.707031 7.085937l21.964844 18.960938zm0 0" /><path d="m220.414062 125.058594c-28.0625 0-50.8125 22.746094-50.8125 50.808594 0 28.066406 22.75 50.8125 50.8125 50.8125s50.8125-22.75 50.8125-50.8125c-.03125-28.046876-22.761718-50.777344-50.8125-50.808594zm0 85.621094c-19.226562 0-34.8125-15.585938-34.8125-34.8125 0-19.226563 15.585938-34.8125 34.8125-34.8125 19.226563 0 34.8125 15.585937 34.8125 34.8125-.023437 19.21875-15.59375 34.789062-34.8125 34.8125zm0 0" /></svg>
            </span>
        </a>

        <hr />

    }

    <div class="buttons">

        <a class="side-bar-item" href="/logout" side-bar-tooltip="Logout">
            <div class="name">
                Logout
            </div>
            <span class="icon">
                <svg viewBox="0 -10 490.66667 490" xmlns="http://www.w3.org/2000/svg"><path d="m474.667969 251h-309.335938c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h309.335938c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0" /><path d="m250.667969 336.332031c-4.097657 0-8.191407-1.554687-11.308594-4.691406l-85.332031-85.332031c-6.25-6.253906-6.25-16.386719 0-22.636719l85.332031-85.332031c6.25-6.25 16.382813-6.25 22.636719 0 6.25 6.25 6.25 16.382812 0 22.632812l-74.027344 74.027344 74.027344 74.027344c6.25 6.25 6.25 16.382812 0 22.632812-3.136719 3.117188-7.234375 4.671875-11.328125 4.671875zm0 0" /><path d="m234.667969 469.667969c-129.386719 0-234.667969-105.28125-234.667969-234.667969s105.28125-234.667969 234.667969-234.667969c97.085937 0 182.804687 58.410157 218.410156 148.824219 3.242187 8.210938-.8125 17.492188-9.023437 20.753906-8.214844 3.203125-17.496094-.789062-20.757813-9.042968-30.742187-78.082032-104.789063-128.535157-188.628906-128.535157-111.746094 0-202.667969 90.925781-202.667969 202.667969s90.921875 202.667969 202.667969 202.667969c83.839843 0 157.886719-50.453125 188.628906-128.511719 3.242187-8.257812 12.523437-12.246094 20.757813-9.046875 8.210937 3.242187 12.265624 12.542969 9.023437 20.757813-35.605469 90.390624-121.324219 148.800781-218.410156 148.800781zm0 0" /></svg>
            </span>
        </a>


        <a class="side-bar-arrow">
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129"><g><path d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z" /></g></svg>
            </span>
        </a>
    </div>


    <div id="SessionEndModal" class="modal fade" role="dialog" >
        <div class="modal-dialog modal-sm">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Session Ended</h4>
                </div>
                <div class="modal-body">
                    <p>{{endSessionMessage || 'your session has ended'}}</p>
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                    <a class="s-btn s-btn-primary" href="/logout">Go to Login </a>
                </div>
            </div>

        </div>
    </div>

</div>