@{
    ViewData["Title"] = "User Logs";
}

<div id="app" class="v-container" v-cloak>
    <h2>Users Log</h2>

    <div class="input-group-container" style="max-width:400px">
        <div class="input-group-item">
            <label>From Date</label>
            <date-picker v-model="fromDate" :config="dateOptions"></date-picker>
        </div>
        <div class="input-group-item">
            <label>To Date</label>
            <date-picker v-model="toDate" :config="dateOptions"></date-picker>
        </div>
        <div class="input-group-item">
            <label>&nbsp;</label>
            <div class="s-btn-group">
                <button v-on:click="searchUserLogs" class="s-btn s-btn-primary">Search</button>
                <button v-on:click="resetLogsFilter" class="s-btn s-btn-outline">Reset</button>
            </div>
        </div>
    </div>

    <section v-show="!UsersLogsAreLoading" id="Pagination" v-bind:class="{ 'd-none':(dataPaging.totalPages < 2 )}">
        <div class="container">

            <paginate :page-count="dataPaging.totalPages"
                      :container-class="dataPaging.pagination"
                      :prev-text="dataPaging.prev"
                      :next-text="dataPaging.next"
                      :click-handler="clickCallback">
            </paginate>

        </div>
    </section>
    <p v-show="UsersLogsAreLoading">Loading...</p>
    <table class="table">
        <thead>
            <tr>
                <th>Full Name </th>
                <th>User Name</th>
                <th>From Date</th>
                <th>To Date </th>
                <th>Status</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="userLog in usersLogs">
                <td>{{userLog.fullName}}</td>
                <td>{{userLog.userName}}</td>
                <td>{{userLog.displayFromDate}}</td>
                <td>{{userLog.displayToDate}}</td>
                <td>{{userLog.comments ?userLog.comments : 'Logged In'}}</td>
                <td>{{userLog.ipAddressDisplay}}</td>
            </tr>
        </tbody>
    </table>
</div>
@section Scripts{
<script src="https://unpkg.com/vuejs-paginate@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-bootstrap-datetimepicker@5"></script>
<script src="~/services/UsersLogsService.js"></script>
<script src="~/js/UsersLogs.js"></script>
}



