@model UserRoleViewModel
 
    <div class="px-5">
        <h2>Add user to role</h2>

        <form asp-controller="Admin" asp-action="AddUserToRole">
            <input type="hidden" name="roleId" value="@Model.RoleId" />
            <div class="form-group">
                <div class="col-sm-6 pl-0">
                    <select asp-for="UserId" class="form-control "
                            asp-items="@(new SelectList(Model.Users, "Id", "UserName"))">
                        <option>Please select a user</option>
                    </select>
                </div>
                <input class="btn Button-Shared" value="Add to role" type="submit" />

            </div>
        </form>

        <a asp-action="EditRole" asp-route-id="@Model.RoleId" class="btn Button-Shared">Done</a>
    </div>