@{
    ViewData["Title"] = "Manage";
}

<div class="v-container">

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#UsersTab"> <i class="fa fa-user"></i> Users </a></li>
        <li><a data-toggle="tab" href="#CategoriesTab"> <i class="fa fa-th-large"></i> Categories </a></li>
        <li><a data-toggle="tab" href="#LocationTab"><i class="fa fa-network-wired"></i> Locations</a></li>
        <li><a data-toggle="tab" href="#UserLogsTab"><i class="fa fa-history"></i> Logs</a></li>
        <li><a data-toggle="tab" href="#UsersNotificationsTab"><i class="fa fa-comment-dots"></i> Notifications</a></li>
    </ul>

    <div class="tab-content">

        <div id="UsersTab" class="tab-pane  in active">
            <partial name="~/views/admin/forms/usersform.cshtml" />
        </div>

        <div id="CategoriesTab" class="tab-pane  ">
            <partial name="~/views/admin/forms/categoriesform.cshtml" />
        </div>

        <div id="LocationTab" class="tab-pane ">
            <partial name="~/views/admin/forms/locationsform.cshtml" />
        </div>

        <div id="UserLogsTab" class="tab-pane ">
            <partial name="~/views/admin/forms/logsform.cshtml" />
        </div>

        <div id="UsersNotificationsTab" class="tab-pane ">
            <partial name="~/views/admin/forms/UsersNotifications.cshtml" />
        </div>

    </div>

</div>


@section Styles{
    <link href="~/css/IpAddresses.min.css" rel="stylesheet" />
    <link href="~/css/Dashboard.min.css" rel="stylesheet" />
}

@section scripts{

    <script src="~/services/TeamsService.js"></script>
    <script src="~/services/CategoriesService.js"></script>
    <script src="~/services/AdminService.js"></script>
    <script src="~/services/UsersService.js"></script>
    <script src="~/services/IpAddressesService.js"></script>
    <script src="~/services/UsersLogsService.js"></script>

    <script src="~/js/UsersNotifications.js"></script>
    <script src="~/js/UsersLogs.js"></script>
    <script src="~/js/Categories.js"></script>
    @*<script src="~/js/Teams.js"></script>*@
    <script src="~/js/Users.js"></script>
    <script src="~/js/IpAddresses.js"></script>
}
