<div class="buttons mb-2">

    <div>
        <button type="button" v-on:click="projects_openModal" class="s-btn s-btn-primary">New Project &nbsp;<i class="glyphicon glyphicon-plus"></i></button>
    </div>

    <table class="s-table-controls">
        <tr>
            <td>
                <select class="form-control" v-model="projects.filterBy.categoryId">
                    <option v-show="categories.isLoading" disabled="disabled">Loading...</option>
                    <option v-for="opt in categoriesToFilter" :value="opt.id">{{opt.name}}</option>
                </select>
            </td>
            <td>
                <input class="form-control" v-model="projects.filterBy.keyword" />
            </td>
            <td>
                <button class="s-btn s-btn-primary" v-on:click="projects_getAll()">Search
                <i class="glyphicon glyphicon-search"></i>
                </button>

            </td>
        </tr>
    </table>

</div>

<h4 v-show="!projects.isLoading && !projects.data.length ">
    <br />
    <span v-if="projects.filterBy.categoryId">Nothing under this category, </span> <span v-else>Nothing here yet, </span> <span class="clickable-link" v-on:click="projects_openModal">Click Here</span> to add
</h4>

<section id="Pagination" class="c-pagination" v-show="projectsTotalPages > 1">
    <div class="container">
        <paginate v-bind:page-count="projectsTotalPages"
                  v-bind:container-class="projects.dataPaging.pagination"
                  v-bind:prev-text="projects.dataPaging.prev"
                  v-bind:next-text="projects.dataPaging.next" v-bind:click-handler="projects_pageClick">
        </paginate>
    </div>
</section>

<p class="c-display-message">{{projects.isLoading ? 'Loading...':'&nbsp;'}}</p>

<div v-show="projects.data.length" class="Projects c-table-data-container"
     v-bind:class="{'lock-controls': projects.isProcessing }">

    <table class="table ">

        <thead>
            <tr>
                <th style="width: 50px">-</th>
                <th>Name</th>
                <th>Added By</th>
                <th>Created On</th>
                <th>Modified On</th>
                <th>Start Date</th>
                <th>Planned End</th>
                <th>Actual End</th>
                @*<th>Teams</th>*@
                <th>Status</th>
                <th>By User</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            <template v-for="(item ,idx) in projects.data">

                <tr :class="item.statusDisplay.toLowerCase()">

                    <td>
                        {{item.id}}
                    </td>

                    <td>
                        {{item.title}}
                    </td>
                    
                    <td>
                        {{item.addedByUserName}}
                    </td>
                    <td>
                        {{item.dateAddedDisplay}}
                    </td>
                    <td>
                        {{item.lastModifiedDateDisplay}}
                    </td>
                    
                    <td>
                        {{item.startDateDisplay}}
                    </td>
                    
                    <td>
                        {{item.plannedEndDisplay}}
                    </td>
                    
                    <td>
                        {{item.actualEndDisplay}}
                    </td>

                    @*<td>
                        {{item.teamsProjects ? item.teamsProjects.length : 0}}
                    </td>*@
                    
                    <td>
                        {{item.statusDisplay}}
                    </td>

                    <td>
                        <a :href="`/profile/${item.statusByUserId}`">{{item.statusByUserName}}</a>
                        
                    </td>

                    <td>
                        <a class="s-btn s-btn-sm s-btn-outline" :href="`/projects/${item.id}`">
                            <i class="fa fa-tasks"></i> Tasks
                        </a>

                        <button class="s-btn s-btn-sm s-btn-outline" type="button"
                                v-on:click="projects_viewStatusesModification(item)">
                            <i class="fa fa-history"></i> Status History
                        </button>

                        <button class="s-btn s-btn-sm s-btn-outline" type="button"
                                v-on:click="projects_edit(idx)">
                            <i class="fa fa-edit"></i> Edit
                        </button>
                        <button class="s-btn s-btn-sm s-btn-danger" type="button" v-if="!item.hasTasks"
                                v-on:click="projects_delete(idx)">
                            <i class="fa fa-trash"></i> 
                        </button>
                    </td>

                </tr>

            </template>

        </tbody>

    </table>

</div>
