<div id="ProjectModal" class="modal  fade" role="dialog">

    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Project</h4>
            </div>
            <div class="modal-body">

                <div class="project-container">

                    <div class="left-container scrollable-container-400" >

                        <div class="input-group-container">
                            <div class="input-group-item">
                                <label for="usr">Title (*)</label>
                                <input type="text"
                                       maxlength="100"
                                       class="form-control" v-model="projects.form.record.title">

                            </div>
                            <div class="input-group-item">
                                <label>Category (*)</label>
                                <p v-show="categories.isLoading">Loading Categories...</p>
                                <p v-show="!categories.isLoading && !categories.data.length">No categories added!</p>
                                <select v-if="categories.data.length" v-model="projects.form.record.categoryId" class="form-control ">
                                    <option :value="oNull" disabled>Choose a Category</option>
                                    <option v-for="category in categories.data" v-bind:value="category.id">
                                        {{category.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="input-group-item">
                                <label>Status (*)</label>
                                <p v-show="projects.statuses.isLoading">Loading Statuses...</p>
                                <select v-if="projects.statuses.data.length" v-model="projects.form.record.statusCode" class="form-control " >
                                    @*<option :value="oNull" >Choose a Status</option>*@
                                    <option v-for="opt in projects.statuses.data" v-bind:value="opt.key">
                                        {{opt.value}}
                                    </option>
                                </select>
                            </div>

                        </div>

                        <div class="input-group-container">
                            <div class="input-group-item">
                                <label>Start Date</label>
                                <date-picker v-model="projects.form.record.startDate" v-bind:config="dateOptions"></date-picker>
                            </div>
                            <div class="input-group-item">
                                <label>Planned End Date</label>
                                <date-picker v-model="projects.form.record.plannedEnd" v-bind:config="dateOptions"></date-picker>
                            </div>
                            <div class="input-group-item">
                                <label>Actual End Date</label>
                                <date-picker v-model="projects.form.record.actualEnd" v-bind:config="dateOptions"></date-picker>
                            </div>
                        </div>

                        <div class="input-group-container">
                            <div class="input-group-item">
                                <label>Description</label>
                                <textarea maxlength="255"
                                          class="form-control" v-model="projects.form.record.description"></textarea>
                            </div>
                        </div>

                    </div>

                    <div class="right-container">
                        <label>Teams</label>
                        <div class="checklist-container scrollable-container-400">
                            <p v-show="teams.isLoading">Loading teams....</p>
                            <p v-show="!teams.isLoading && !teams.data.length">There are currently no teams added!</p>
                            <p v-for="(team, idx) in teams.data">
                                <input type="checkbox" :value="team.id" v-model="projects.form.record.teamsIds" />
                                {{team.name}}
                            </p>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div v-show="errors.length">
                        <div v-for="error in errors" class="text-danger">
                            {{error}}
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <p class="f-display-message">{{ projects.form.message}}</p>

                <button v-bind:disabled="projects.form.isSaving" type="button" class="s-btn s-btn-primary" v-on:click="projects_save">
                    {{projects.form.record.id ?'Save':'Add' }}
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>

</div>
