@{
    ViewData["Title"] = "User Time Sheets";

    string userId = ViewData["ID"].ToString();
}



<div id="UserTimeSheets" data-user="@userId" data-active-role="0" class="v-container" v-bind:class="{'is-readonly':readOnly}" v-cloak>
    <h3 v-show="timesheetsAreLoading">Loading...</h3>
    <h3 v-show="!timesheetsAreLoading && !timesheets.length">Nothing Here Yet! <i class="far fa-smile-beam"></i> </h3>

    <div class="user-timesheets" v-show="timesheets.length">

        <select v-on:change="handleTimeSheetChange" class="form-control w-200-px" v-model="selectedTimeSheetId">
            <option :value="oNull">- Select a Schedule - </option>
            <option v-for="timesheet in timesheets" :value="timesheet.id"> {{timesheet.fromDateDisplay}} - {{timesheet.toDateDisplay}}</option>
        </select>

        @*
        <ul class="list-group">
            <li v-for="timesheet in timesheets" class="list-group-item" v-on:click="openTimeSheet(timesheet)" v-bind:class="{'active-tab': (activeTimeSheet !== null && activeTimeSheet.id === timesheet.id) }">
                {{timesheet.fromDateDisplay}} - {{timesheet.toDateDisplay}}
            </li>
        </ul>
        *@
    </div>

    <div class="user-timesheets-content" v-show="activeTimeSheet">

        <h4 v-show="activeTimeSheetDisplay">{{activeTimeSheetDisplay}}</h4>

        <div class="user-timesheets-content-container">

            <div class="user-timesheets-content__days">
                <ul class="list-group" v-if="activeTimeSheet && activeTimeSheet.datesList && activeTimeSheet.datesList.length">
                    <li v-for="(dateDisplay, idx) in activeTimeSheet && activeTimeSheet.datesList"
                        v-on:click="openTimeSheetDate(idx)"
                        v-bind:class="{'is-current-day': activeDateIndexIsCurrentDay  === idx,'active-tab':activeDateIdx === idx}"
                        class="list-group-item">
                        {{dateDisplay.display}}
                    </li>
                </ul>
            </div>

            <div v-if="activeTimeSheet" class="user-timesheets-content__projects" :class="{'collapsed':activeDateIdx === -1}">

                <p v-show="filteredProjectsLoading">Loading...</p>
                <h4>{{activeDate ? activeDate.format('LL') : ''}} {{activeDateIndexIsCurrentDay !== -1 && activeDateIndexIsCurrentDay === activeDateIdx ? '(Today)' : ''}} <i class="main-color">{{activeTimeSheet && activeTimeSheet.isSigned ? ' | (SIGNED)' :''}}</i> </h4>
                <button class="btn btn-default btn-sm" v-if="canUnlock" v-on:click="toggleReadOnly"> <i class="glyphicon glyphicon-lock"></i> {{readOnly ? 'Unlock' : 'Lock'}}</button>

                <div class="tasks-filter-container">
                    <span :class="taskStatusClass(status)"
                          @@click="taskFilter(status.key)"
                          :title="status.title || status.name"
                          v-for="status in tasksFilter.statuses">
                        <i :class="status.icon"></i>
                        <span class="filter-label" v-if="tasksFilter.selectedStatusKey === status.key">{{status.name}} ({{filteredTimeSheetProjectsTasksCount}})</span>
                    </span>
                </div>

                <div class="assigned-tasks-container">
                    <h5 v-show="!filteredTimeSheetProjects.length">Nothing Here!</h5>
                    <div class="assigned-tasks" v-for="(project, idx) in filteredTimeSheetProjects">

                        <h5>{{project.title}}</h5>

                        <div class="assigned-task" :class="{'active':(selectedTask ? selectedTask.id === task.id :false)}" v-for="(task,taskIdx) in project.tasks"
                             @@click="openTaskActivities(task)">
                            {{task.title}}
                        </div>

                        @*<table class="timesheet-tasks">
                            <tbody>
                                <template v-for="(subProject,subProjectIdx) in proj.tasks">
                                    <tr>
                                        <td>
                                            <span class="item-subproject">
                                                <span class="item-subproject__title">
                                                    <span>
                                                        {{subProject.title}}
                                                    </span>
                                                </span>
                                                <span class="item-subproject__buttons" v-show="!readOnly && !activeTimeSheetDateIsLocked">
                                                    <span v-bind:class="{'active': subProject.isActive, 'disabled' :activeActivities && activeActivities.length > 0 }" v-on:click="startActiveActivity(idx,subProjectIdx,subProject)" class="glyphicon glyphicon-play"></span>
                                                    <span v-bind:class="{'disabled':!subProject.isActive}" v-on:click="Z(idx,subProjectIdx,subProject)" class="glyphicon glyphicon-stop"></span>
                                                </span>
                                            </span>
                                        </td>
                                        <td>
                                            <div class="item-subproject__tags">
                                                <span class="item-subproject-activity" v-bind:class="{'disabled':!activity.toDate }" v-for="(activity, tagIdx) in subProject.activities" v-on:click="openEditActivityModal(activity, tagIdx,subProjectIdx,idx)">
                                                    {{tagIdx < subProject.activities.length - 1? activity.tagDisplayHours : activity.tagDisplay}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>*@


                    </div>
                </div>


            </div>

            <div class="task-activities" v-if="selectedTask">

                <template v-if="activeDateIndexIsToday">

                    <h5 v-if="selectedTask">{{selectedTask.title}} Activities</h5>

                    <button v-if="!activeActivity" class="s-btn s-btn-outline s-btn-sm" @@click="startActivity()">Start <i class="fa fa-play"></i> </button>
                    <button v-if="activeActivity" class="s-btn s-btn-primary s-btn-sm" @@click="openActivityCommitModal()">Stop <i class="fa fa-stop"></i> </button>

                </template>

                <p v-if="!taskActivities.data.length" class="nothing-here">Nothing Here! <i class="fa fa-cat"></i>  </p>
                <h5 v-if="taskActivities.message">{{taskActivities.message}}</h5>

                <div class="c-box-view">

                    <div v-if="taskActivities.isLoading" class="c-box c-box--loading" v-for="i in [,,,]">
                        <span class="c-box-title"></span>
                    </div>


                    <div class="c-box" :class="{'active':!activity.toDate}" v-for="activity in taskActivities.data">
                        <div class="c-box-title">{{getActivityTitle(activity)}}</div>
                        <small>{{activity.fromDateDisplay}}</small>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <div id="ActivityModal" class="modal " role="dialog">

        <div class="modal-dialog ">

            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Activity - {{activityModal.title}} {{activityModal.form.id === 0 ? '(New)' : `(A${activityModal.form.id})`}} - {{activeSubProject ? activeSubProject.title : ''}}  <i class="main-dark-color"> @@{{activityModal.form.ipAddressDisplay}}</i> </h4>
                </div>

                <div class="modal-body" v-bind:class="{'disabled-section': activityModal.isLoading || activityModal.isDeleting , 'disabled-section' : readOnly }">

                    <div class="modal-controls">

                        <table class="table table-borderless">

                            <tr v-bind:class="{'disabled-section':activityModal.isLocked}" v-show="activityModal.toDate">
                                <td>
                                    <div class="modal-control">
                                        <label>From Date</label>
                                        <date-picker v-model="activityModal.form.fromDate" :config="dateTimeOptions"></date-picker>
                                    </div>
                                </td>
                                <td>
                                    <div class="modal-control">
                                        <label>To Date</label>
                                        <date-picker v-model="activityModal.form.toDate" :config="dateTimeOptions"></date-picker>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="modal-control">
                                        <label>Enter a message</label>
                                        <textarea class="form-control" rows="2" v-model="activityModal.form.message"></textarea>
                                    </div>
                                </td>
                            </tr>

                        </table>

                    </div>

                    <h5 v-if="activityModal.message" class="display-message text-center">{{activityModal.message}}</h5>
                </div>

                <div class="modal-footer">
                    <button v-if="!readOnly && !activityModal.toDate" type="button" class="btn btn-default" v-on:click="commitActivity">Commit</button>
                    <button v-show="!readOnly && activityModal.toDate" type="button" class="btn btn-default" v-on:click="saveActivity">{{activityModal.isSaving? 'Saving...': 'Save'}}</button>
                    <a v-show="activityModal.form.id !== 0" target="_blank" class="btn btn-default" v-bind:href="`/timesheets/TimeSheetActivityLog?activityId=${activityModal.form.id}`">Logs</a>
                    <button v-show="!readOnly &&  activityModal.form.id === 0" type="button" class="btn btn-default" v-on:click="dismissActivity">{{activityModal.isDismissing? 'Dismissing...': 'Dismiss'}}</button>
                    <button v-show="!readOnly && activityModal.form.id !== 0" type="button" class="btn btn-danger" v-on:click="deleteActivity">{{activityModal.isDeleting ? 'Deleting...' : 'Delete'}}</button>
                </div>

            </div>

        </div>

    </div>

</div>


@section scripts{

<script src="https://cdn.jsdelivr.net/npm/vue-bootstrap-datetimepicker@5"></script>
<script src="~/services/TimeSheetsService.js"></script>
<script src="~/services/TypeOfWorkService.js"></script>
<script src="~/services/MeasurementUnitsService.js"></script>
<script src="~/services/TimeSheetActivitiesService.js"></script>
<script src="~/services/ProjectFilesService.js"></script>

<script src="~/js/UserTimeSheets.js"></script>
}

@section styles {
<link href="~/css/UserTimeSheets.min.css" rel="stylesheet" />
}