@page
@model ConfirmEmailModel
@{

    
    Layout = "~/Views/Shared/_LogonLayout.cshtml";
    ViewData["Title"] = "Email Confirmation";
}

<div class="container text-center">
    <h2>@ViewData["Title"]</h2>
    <p>
        Thank you for confirming your email!
    </p>
    <p>
        <br />
        <a href="/login" class="s-btn s-btn-primary s-btn-lg">Go to Login</a>
    </p>

</div>
