@page
@model ForgotPasswordConfirmation
@{
    Layout = "~/Views/Shared/_LogonLayout.cshtml";

    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container">

    <h2>@ViewData["Title"]</h2>
    <p>
        Please check your email to reset your password.
        <br />
        <br />
        <a  href="/login" class="s-btn s-btn-primary">Back to Login</a>
    </p>
</div>

