@page
@model RegisterModel
@{
    Layout = "~/Views/Shared/_LogonLayout.cshtml";

    ViewData["Title"] = "Project Tracking - Register";
}
@inject Data.Methods.Interfaces.ITeamsMethods teamsMethods
@*@inject Data.Methods.Interfaces.ICompanies CompanyDtos*@

<div class="MiddleBoxContainerTemplate">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="MiddleBox">
            <h3>Create a new account.</h3>
            <div class="MiddleBoxContent">

                @*<div asp-validation-summary="All" class="text-danger"></div>*@

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="Input.FirstName"></label>
                            <input asp-for="Input.FirstName" class="form-control" />
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="Input.LastName"></label>
                            <input asp-for="Input.LastName" class="form-control" />
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="Input.DateOfBirth"></label>
                            <input asp-for="Input.DateOfBirth" class="form-control datetimepicker" />
                            <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>

                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-6">

                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    @*<div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Input.Title"></label>
                                <input asp-for="Input.Title" class="form-control" />
                                <span asp-validation-for="Input.Title" class="text-danger"></span>
                            </div>
                        </div>*@
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label asp-for="Input.RoleKey"></label>
                            <input asp-for="Input.RoleKey" class="form-control" />
                            <span asp-validation-for="Input.RoleKey" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <h4 class="text-danger">
                    @ViewData["ErrorMessage"]
                    @Html.ValidationMessage("RegistrationError")
                </h4>

                @if (ViewData["Message"] != null)
                {
                    <h4>
                        @ViewData["Message"]
                    </h4>
                }

                <button type="submit" class="s-btn s-btn-block s-btn-md s-btn-primary "  style="margin-bottom:.5em" >Go to Registeration  </button>
                <a class="s-btn s-btn-block s-btn-md s-btn-outline mb-3"
                   href="/login"> <i class="fa fa-chevron-left"></i> Back to Login</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@section Styles {
    <link href="/css/login.min.css" rel="stylesheet" />
}
