@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Views/Shared/_LogonLayout.cshtml";

}

<div class="container">

    <h2>@ViewData["Title"]</h2>
    <p>
        Your password has been reset. Please <a href="/login">click here to log in</a>.
    </p>
</div>
