@inject Microsoft.Extensions.Configuration.IConfiguration config
@{
    ViewData["Title"] = "Manage";


    string role = User.FindFirst(System.Security.Claims.ClaimTypes.Role).Value;


}

<div class="v-container">

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" data-code="users" href="#UsersTab"> <i class="fa fa-user"></i> Users </a></li>
        <li><a data-toggle="tab" data-code="categories" href="#CategoriesTab"> <i class="fa fa-th-large"></i> Project Categories </a></li>
        <li><a data-toggle="tab" data-code="locations" href="#LocationTab"><i class="fa fa-network-wired"></i> Locations</a></li>
        <li><a data-toggle="tab" data-code="logs" href="#UserLogsTab"><i class="fa fa-history"></i> Logs</a></li>
        <li><a data-toggle="tab" data-code="notifications" href="#UsersNotificationsTab"><i class="fa fa-comment-dots"></i> Notifications</a></li>

        @if (role == "Admin")
        {
            <li><a data-toggle="tab" data-code="roleskeys" href="#RolesKeysTab"><i class="fa fa-key"></i> Roles Keys</a></li>
        }

    </ul>

    <div class="tab-content">

        <div id="UsersTab" class="tab-pane  in active">
            <partial name="~/views/manage/forms/usersform.cshtml" />
        </div>

        <div id="CategoriesTab" class="tab-pane  ">
            <partial name="~/views/manage/forms/categoriesform.cshtml" />
        </div>

        <div id="LocationTab" class="tab-pane ">
            <partial name="~/views/manage/forms/locationsform.cshtml" />
        </div>

        <div id="UserLogsTab" class="tab-pane ">
            <partial name="~/views/manage/forms/logsform.cshtml" />
        </div>

        <div id="UsersNotificationsTab" class="tab-pane ">
            <partial name="~/views/manage/forms/UsersNotifications.cshtml" />
        </div>

        @if (role == "Admin")
        {
            <div id="RolesKeysTab" class="tab-pane ">
                <partial name="~/views/manage/forms/RolesKeysForm.cshtml" />
            </div>
        }

    </div>

</div>


@section Styles{
    <link href="~/css/IpAddresses.min.css" rel="stylesheet" />
    <link href="~/css/manage.min.css" rel="stylesheet" />
}

@section scripts{

    <script src="~/services/TeamsService.js"></script>
    <script src="~/services/CategoriesService.js"></script>
    <script src="~/services/AdminService.js"></script>
    <script src="~/services/UsersService.js"></script>
    <script src="~/services/IpAddressesService.js"></script>
    <script src="~/services/UsersLogsService.js"></script>

    <script src="~/js/Manage.js"></script>
    <script src="~/js/UsersNotifications.js"></script>
    <script src="~/js/UsersLogs.js"></script>
    <script src="~/js/Categories.js"></script>
    <script src="~/js/RolesKeys.js"></script>
    @*
        <script src="~/js/Teams.js"></script>*@
    <script src="~/js/Users.js"></script>
    <script src="~/js/IpAddresses.js"></script>
}
