

<div id="NotificationModal" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Notifications
                    <small v-show="isLoading"> (Loading...)</small>
                </h4>
            </div>
            <div class="modal-body">

                <div>
                    <ul class="nav nav-tabs" v-if="tabs && tabs.length">
                        <li v-for="(tab,idx) in tabs" :class="{'active':selectedIdx===idx}" @@click="changeTabIndex(idx)"><a>{{tab}}</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="TeamNotificationsTab" class="tab-pane fade " :class="{'in active':selectedIdx === 0}" >

                            <h4 v-show="!broadcasts.isLoading && !broadcasts.data.length ">
                                <br />
                                Nothing here yet
                            </h4>

                            <section id="Pagination" class="c-pagination" v-show="broadcastsTotalPages > 1">
                                <div class="">
                                    <paginate v-bind:page-count="broadcastsTotalPages"
                                              v-bind:container-class="broadcasts.dataPaging.pagination"
                                              v-bind:prev-text="broadcasts.dataPaging.prev"
                                              v-bind:next-text="broadcasts.dataPaging.next"
                                              v-bind:click-handler="broadcasts_pageClick">
                                    </paginate>
                                </div>
                            </section>

                            <p class="c-display-message" v-if="broadcasts.isLoading">Loading...</p>

                            <div class="notification-container scrollable-container-300" v-show="broadcasts.data.length">
                                <div class="notification" v-for="(item,idx) in broadcasts.data"
                                     v-on:click="broadcastClick(idx)"
                                     v-bind:class="getNotificationClasses(item)">
                                    <div class="notification__user"> {{item.fromUserDisplay}}</div>
                                    <div class="notification__message" v-html="item.message"></div>
                                    <div class="notification__date">{{item.dateSentDisplay}}</div>
                                </div>
                            </div>

                        </div>

                        <div id="OtherNotificationsTab" class="tab-pane fade" :class="{'in active':selectedIdx === 1}">

                            <section id="Pagination" v-show="dataPaging.totalPages > 1">
                                <div class="container">

                                    <paginate :page-count="dataPaging.totalPages"
                                              :container-class="dataPaging.pagination"
                                              :prev-text="dataPaging.prev"
                                              :next-text="dataPaging.next"
                                              :click-handler="clickCallback">
                                    </paginate>

                                </div>
                            </section>

                            <h4 v-show="!isLoading && !notifications.length">
                                <br />
                                Nothing here yet
                            </h4>

                            <div class="notification-container" v-show="notifications.length">
                                <div class="notification" v-for="(item,idx) in notifications"
                                     v-on:click="notificationClick(idx)"
                                     v-bind:class="getNotificationClasses(item)">
                                    <div class="notification__user"> {{item.fromUserDisplay}}</div>
                                    <div class="notification__message" v-html="item.message"></div>
                                    <div class="notification__date">{{item.dateSentDisplay}}</div>
                                </div>
                            </div>

                        </div>

                    </div>




                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="s-btn s-btn-outline" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>