@{
    ViewData["Title"] = "Holidays";
}


<div id="Holidays" class="main-container" v-cloak>

    <h2>Holidays</h2>

    <div class="modal-controls">
        <table class="table table-controls">
            <tr>
                <td>
                    <label>Title</label>
                    <input type="text" class="form-control" v-model="holidays.form.title" />
                </td>
                <td>
                    <label>Note</label>
                    <input type="text" class="form-control" v-model="holidays.form.note" />
                </td>
                <td>
                    <label>Date</label>
                    <date-picker v-model="holidays.form.date" :config="dateOptions"></date-picker>
                </td>
                <td>
                    <label></label>
                    <div>
                        <button type="button" class="Button-Shared" v-on:click="addHoliday">Add</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <h4 class="display-message">{{holidays.message}}</h4>

    <div class="Holidays">
        <table class="table table-fixed  ">
            <thead>
                <tr>
                    <th style="width:50px">ID</th>
                    <th>Title</th>
                    <th>Note</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item ,idx) in holidays.data">
                    <td>{{item.id}}</td>
                    <td>
                        <span v-show="!item.isEdit">{{item.title}}</span>
                        <input class="form-control" v-show="item.isEdit" type="text" v-model="item.title" />
                    </td>
                    <td>
                        <span v-show="!item.isEdit">{{item.note}}</span>
                        <input class="form-control" v-show="item.isEdit" type="text" v-model="item.note" />
                    </td>
                    <td>
                        <span v-show="!item.isEdit">{{item.dateDisplay}}</span>
                        <date-picker v-show="item.isEdit" v-model="item.date" :config="dateOptions"></date-picker>
                    </td>
                    <td>
                        <button v-show="item.isEdit" class="btn btn-sm btn-default" type="button" v-on:click="updateHoliday(idx)">Save</button>
                        <button v-show="item.isEdit" class="btn btn-sm btn-default" type="button" v-on:click="cancelHolidayEdit(idx)">Cancel</button>
                        <button v-show="!item.isEdit" class="btn btn-sm btn-default" type="button" v-on:click="editHoliday(idx)">Edit</button>
                        <button v-show="!item.isEdit" class="btn btn-sm btn-danger" type="button" v-on:click="deleteHoliday(idx)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

@section Styles{
    <link href="~/css/Holidays.min.css" rel="stylesheet" />
}

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue-bootstrap-datetimepicker@5"></script>

    <script src="~/services/HolidaysService.js"></script>
    <script src="~/js/Holidays.js"></script>
}