
<div class="buttons mb-2">

    <div v-if="isProjectSupervisor">
        <button type="button" v-on:click="projectTasks_openModal" class="s-btn s-btn-primary">New Task &nbsp;<i class="glyphicon glyphicon-plus"></i></button>
    </div>

    <table class="s-table-controls">
        <tr>
            <td>
                <input class="form-control" v-model="projectTasks.filterBy.keyword" />
            </td>
            <td>
                <button class="s-btn s-btn-primary" v-on:click="projectTasks_getAll()">
                    Search
                    <i class="glyphicon glyphicon-search"></i>
                </button>

            </td>
        </tr>
    </table>


</div>

<h4 v-show="!projectTasks.isLoading && !projectTasks.data.length ">
    <br />
    <span class="clickable-link" v-on:click="projectTasks_openModal">Click Here</span> to add
</h4>

<section id="Pagination" class="c-pagination" v-show="projectTasksTotalPages > 1">
    <div class="container">
        <paginate v-bind:page-count="projectTasksTotalPages"
                  v-bind:container-class="projectTasks.dataPaging.pagination"
                  v-bind:prev-text="projectTasks.dataPaging.prev"
                  v-bind:next-text="projectTasks.dataPaging.next" v-bind:click-handler="projectTasks_pageClick">
        </paginate>
    </div>
</section>

<p class="c-display-message">{{projectTasks.isLoading ? 'Loading...':'&nbsp;'}}</p>

<div v-show="projectTasks.data.length" class="ProjectTasks c-table-data-container"
     v-bind:class="{'lock-controls': projectTasks.isProcessing }">

    <table class="table ">

        <thead>
            <tr>
                <th width="30">-</th>
                <th>Name</th>
                <th>Start Date</th>
                <th>Planned End</th>
                <th>Actual End</th>
                <th>Status</th>
                <th>Date</th>
                <th>Status Changed By</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            <template v-for="(item ,idx) in projectTasks.data">

                <tr>

                    <td>
                        {{item.id}}
                    </td>

                    <td>
                        {{item.title}}
                    </td>

                    <td>
                        {{item.startDateDisplay}}
                    </td>

                    <td>
                        {{item.plannedEndDisplay}}
                    </td>

                    <td>
                        {{item.actualEndDisplay}}
                    </td>

                    <td>
                        {{item.statusDisplay}}
                    </td>

                    <td>
                        {{item.lastModifiedDate ? item.lastModifiedDateDisplay : item.dateAddedDisplay}}
                    </td>

                    <td>
                        {{item.statusByUserName}}
                    </td>

                    <td>
                        @*<a class="s-btn s-btn-sm s-btn-outline" :href="`/projectTasktasks/${item.id}`">
                                Tasks
                            </a>*@
                        <button class="s-btn s-btn-sm s-btn-outline" type="button"
                                v-on:click="projectTasks_edit(item.id)">
                            <template v-if="isProjectSupervisor">
                                <i class="fa fa-edit"></i> Edit
                            </template>
                            <template v-else>
                                Details
                            </template>

                        </button>

                        <button class="s-btn s-btn-sm s-btn-outline" type="button"
                                v-on:click="projectTasks_viewStatusesModification(item)">
                            <i class="fa fa-history"></i> Status History
                        </button>

                        <button class="s-btn s-btn-sm s-btn-danger" type="button"
                                v-if="isProjectSupervisor && !item.isAssignedToTimeSheet"
                                v-on:click="projectTasks_delete(idx)">
                            <i class="fa fa-trash"></i> Delete
                        </button>

                        <a class="s-btn s-btn-sm s-btn-outline" :href="`/tasks/${item.id}`">
                            Overview <i class="fa fa-angle-right"></i>
                        </a>

                    </td>

                </tr>

            </template>

        </tbody>

    </table>

</div>
