.t {
  border: 1px solid red !important;
}
.b {
  border: 1px solid blue !important;
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
body {
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}