.t {
  border: 1px solid red !important;
}
.b {
  border: 1px solid blue !important;
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
.user-logs-results tr td:first-child {
  border-left: 0.5em solid;
}
.user-logs-results tr.login td:first-child {
  border-left-color: rgba(131, 237, 123, 0.86);
}
.user-logs-results tr.logout td:first-child {
  border-left-color: rgba(176, 59, 59, 0.82);
}
.user-logs-results tr.disconnected td:first-child {
  border-left-color: #d1d1d1;
}
.UsersNotifications tr td:first-child {
  border-left: 0.5em solid;
}
.UsersNotifications tr.default td:first-child {
  border-left-color: rgba(238, 238, 238, 0.94);
}
.UsersNotifications tr.information td:first-child {
  border-left-color: rgba(87, 193, 181, 0.7);
}
.UsersNotifications tr.important td:first-child {
  border-left-color: rgba(176, 59, 59, 0.82);
}
#RolesKeys table {
  max-width: 300px;
}
#RolesKeys table tr td label {
  font-weight: 500;
}
#Users hr {
  margin-top: 1em;
  margin-bottom: 1em;
}
#Users .c-table-data-container {
  height: 60vh;
}