.t {
  border: 1px solid red !important;
}
.b {
  border: 1px solid blue !important;
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
#Profile {
  padding-right: 2em;
}
#Profile .top-intro {
  display: flex;
  font-size: 1.2em;
  padding: 2em 1em;
  border: 1px solid #d1d1d1;
  border-radius: 15px;
  -webkit-box-shadow: -1px 1px 15px -10px rgba(0, 0, 0, 0.95);
  -moz-box-shadow: -1px 1px 15px -10px rgba(0, 0, 0, 0.95);
  box-shadow: -1px 1px 15px -10px rgba(0, 0, 0, 0.95);
  border-left: 6px solid #5B87A8;
  background-color: #f8f8f8;
}
#Profile .top-intro .top-intro-left {
  display: flex;
}
#Profile .top-intro .top-intro-left .profile-circle {
  width: 2.2em;
  height: 2.2em;
  display: block;
  background-color: #5B87A8;
  color: #fff;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 0.4em;
  text-transform: uppercase;
  letter-spacing: -3px;
  font-size: 2em;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#Profile .top-intro .top-intro-left .profile-title > span,
#Profile .top-intro .top-intro-left .profile-title > small {
  display: block;
}
#Profile .top-intro .top-intro-left .profile-title > small {
  color: #549bd0;
  cursor: pointer;
}
#Profile.secure-mode .top-intro {
  /*text-align: center;
            justify-content: center;*/
}
#Profile.secure-mode .top-intro .top-intro-left {
  justify-content: center;
  align-items: center;
  /*flex-direction: column;*/
  /*text-align: center;*/
}
#Profile.secure-mode .top-intro .top-intro-left .profile-circle {
  letter-spacing: -7px;
  font-size: 4em;
}
#Profile.secure-mode .top-intro .top-intro-left .profile-title {
  /*margin-top: 2em;*/
  margin-top: 0.5em;
  margin-left: 0.5em;
}
#Profile.secure-mode .top-intro .top-intro-left .profile-title > span {
  display: block;
  padding-bottom: 0.5em;
}
#Profile .profile-content {
  padding: 2em 0;
}
#Profile .project-visualization .c-box {
  width: 45%;
}
#Profile #UserMoreDetails .modal-header {
  border-bottom: none;
}
@media (max-width: 767px) {
  .project-visualization .c-box {
    /*flex: 1;*/
    width: 100% !important;
  }
  #Profile.secure-mode .top-intro {
    text-align: center;
    justify-content: center;
  }
  #Profile.secure-mode .top-intro .top-intro-left {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  #Profile.secure-mode .top-intro .top-intro-left .profile-circle {
    letter-spacing: -7px;
    font-size: 4em;
  }
  #Profile.secure-mode .top-intro .top-intro-left .profile-title {
    margin-top: 2em;
    margin-left: 0;
  }
  #Profile.secure-mode .top-intro .top-intro-left .profile-title > span {
    display: block;
    padding-bottom: 0.5em;
  }
}