.buttons-cell span {
  cursor: pointer;
}
.buttons-cell span img {
  width: 20px;
}
.teams-container {
  /*max-height: 350px;
    overflow-y: auto;*/
}
.teams-container > p {
  margin: 0;
  padding: 5px;
}
.project-container {
  display: flex;
}
.project-container .left-container {
  flex: 65%;
}
.project-container .right-container {
  flex: 35%;
}
#CreateProjModal .modal-footer {
  text-align: center !important;
}
.top-controls table td,
.top-controls table th {
  padding: 5px;
}
@media (max-width: 767px) {
  .project-container {
    flex-direction: column;
  }
}