@import 'variables.less';

.buttons-cell {

    span {
        cursor: pointer;

        img {
            width: 20px;
        }
    }
}


.project-container {
    display: flex;

    .left-container {
        flex: 65%;
    }

    .right-container {
        flex: 35%;
    }
}

#CreateProjModal {
    .modal-footer {
        text-align: center !important;
    }
}

.top-controls {
    table {
        td, th {
            padding: 5px;
        }
    }
}

.Projects {


    tr {
        th {
        }

        td:first-child {
            border-left: .8em solid;
        }

        &.proposed {
            td:first-child {
                border-left-color: @project-proposed-color;
            }
        }

        &.inprogress {
            td:first-child {
                border-left-color: @project-inprogress-color;
            }
        }

        &.done {
            td:first-child {
                border-left-color: @project-done-color;
            }
        }

        &.failed, &.terminated {
            td:first-child {
                border-left-color: @project-failed-color;
            }
        }
    }
}


@media (max-width: 767px) {

    .project-container {
        flex-direction: column;
    }
}
