.t {
  border: 1px solid red !important;
}
.b {
  border: 1px solid blue !important;
}
.Fill-Background {
  background-color: rgba(238, 238, 238, 0.94);
}
.Box-Shadow-Right {
  -webkit-box-shadow: 1px -1px 7px 0px #a3a3a3;
  -moz-box-shadow: 1px -1px 7px 0px #a3a3a3;
  box-shadow: 1px -1px 7px 0px #a3a3a3;
}
.scrollable-container-200 {
  overflow-y: auto;
  max-height: 200px;
}
.scrollable-container-300 {
  overflow-y: auto;
  max-height: 300px;
}
.scrollable-container-400 {
  overflow-y: auto;
  max-height: 400px;
}
.scrollable-container-500 {
  overflow-y: auto;
  max-height: 400px;
}
.clickable-link {
  color: #1776b0;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.flex-right-left {
  display: flex;
}
.flex-right-left .text-bold {
  font-weight: 600;
}
.flex-right-left .small-date {
  color: rgba(122, 122, 122, 0.93);
  font-size: 12px;
}
.flex-right-left .left-side {
  flex: 1;
  text-align: left;
}
.flex-right-left ul {
  width: 100%;
  padding: 0 20px;
}
.flex-right-left .right-side {
  flex: 1;
  text-align: right;
}
.cell-arrow {
  width: 20px !important;
  cursor: pointer;
}
.cell-arrow * {
  fill: #1776b0;
}
.cell-arrow.rotate-180 {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.rotate-Arrow {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Safari 3-8 */
}
.main-dark-color {
  color: #1776b0 !important;
}
.main-light-color {
  color: #5bcbee;
}
.main-color {
  color: #2286c3;
}
.light-color {
  color: #fff;
}
.main-dark-background {
  background-color: #1776b0;
}
.main-light-background {
  background-color: #73d3f1;
}
.table-child {
  font-size: 0.9em;
  margin-bottom: 5px;
}
.table-child th {
  font-weight: 600;
  padding: 3px !important;
}
.table-child td {
  padding: 3px !important;
}
.gray-light-background {
  background-color: rgba(207, 207, 207, 0.63);
}
.main-background {
  background-color: #1776b0;
}
.BoxShadow {
  -webkit-box-shadow: -2px 3px 20px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 3px 20px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 3px 20px -10px rgba(0, 0, 0, 0.75);
}
.BoxShadow-Right {
  -webkit-box-shadow: 11px 0px 20px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 0px 20px -17px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 0px 20px -17px rgba(0, 0, 0, 0.75);
}
.Error {
  border: 1px solid red !important;
}
.Button {
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  text-decoration: none;
}
.Button-Shared {
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  /*line-height:16px;*/
  background-color: #2286c3;
  color: #fff !important;
}
.Button-Shared:hover {
  background-color: #1776b0;
}
.Button-Shared:disabled {
  opacity: 0.5;
}
.Button-Shared.Button-Small {
  padding: 3px 10px;
}
.Button-Shared.Button-Large {
  padding: 1.5em;
}
.Button-Danger {
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  background-color: #fff;
  color: #1776b0 !important;
  border: 1px solid #1776b0;
}
.Button-Danger:hover {
  background-color: rgba(216, 243, 251, 0.85);
}
.TextCenter {
  text-align: center;
}
.TextLeft {
  text-align: center;
}
.TextRight {
  text-align: right;
}
.Buttons-Section button:not(:first-child),
.Buttons-Section a:not(:first-child),
.Buttons-Section input:not(:first-child),
.Buttons-Section button:not(:last-child),
.Buttons-Section a:not(:last-child),
.Buttons-Section input:not(:last-child) {
  margin-right: 5px;
}
.Link-Shared {
  cursor: pointer !important;
  text-decoration: none;
  color: #1776b0;
}
.Link-Shared:not(:first-child),
.Link-Shared:not(:last-child) {
  margin-left: 5px;
}
.Link-Shared:hover {
  color: #2286c3;
}
.Link-Shared:active {
  color: #2286c3;
}
.LinksSection {
  display: block;
}
.LinksSection a {
  cursor: pointer !important;
  text-decoration: none;
  color: #1776b0;
}
.LinksSection a:not(:first-child),
.LinksSection a:not(:last-child) {
  margin-left: 5px;
}
.LinksSection a:hover {
  color: #2286c3;
}
.LinksSection a:active {
  color: #2286c3;
}
.Button-Block-Small {
  width: 100%;
  padding: 5px 10px;
}
.Button-Block {
  width: 100%;
}
.MiddleBoxContainerTemplate {
  padding: 40px 40px;
}
.MiddleBoxContainerTemplate .MiddleBox {
  max-width: 650px;
  margin: auto;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: -2px 3px 20px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 3px 20px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 3px 20px -10px rgba(0, 0, 0, 0.75);
}
.MiddleBoxContainerTemplate .MiddleBox h3 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 30px 0;
  text-align: center;
  background-color: #1776b0;
  color: #fff;
}
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent {
  padding: 1em 1.5em;
  position: relative;
}
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent select {
  margin: 5px 0;
}
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=email],
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=text],
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=password],
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent select {
  border: none;
  padding: 10px 15px;
  background-color: rgba(238, 238, 238, 0.94);
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
}
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=email]::-webkit-input-placeholder,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=text]::-webkit-input-placeholder,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=password]::-webkit-input-placeholder,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent select::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #0b3a56;
}
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=email]::-moz-placeholder,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=text]::-moz-placeholder,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=password]::-moz-placeholder,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent select::-moz-placeholder {
  /* Firefox 19+ */
  color: #0b3a56;
}
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=email]:-ms-input-placeholder,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=text]:-ms-input-placeholder,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=password]:-ms-input-placeholder,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent select:-ms-input-placeholder {
  /* IE 10+ */
  color: #0b3a56;
}
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=email]:-moz-placeholder,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=text]:-moz-placeholder,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=password]:-moz-placeholder,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent select:-moz-placeholder {
  /* Firefox 18- */
  color: #0b3a56;
}
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  outline: none !important;
}
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent select:hover,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent select:active,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent select:focus {
  outline: none !important;
}
.MiddleBoxContainerTemplate .MiddleBox .MiddleLinks {
  margin-bottom: 20px;
  text-align: right;
}
.MiddleBoxContainerTemplate .MiddleBox .BottomLinks {
  text-align: center;
  padding-top: 20px;
}
.notifyjs-corner {
  top: 45px;
}
.Icon-Plane {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.Icon-Danger {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.Icon-Danger * {
  fill: #b00000;
}
.Icon-Default {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.Icon-Default * {
  fill: #1776b0;
}
.Icon-Default:hover * {
  fill: #2286c3;
}
.Light-Gray-Control {
  border: none;
  padding: 10px 20px;
  background-color: rgba(243, 241, 241, 0.9);
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
}
.Light-Gray-Control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #0b3a56;
}
.Light-Gray-Control::-moz-placeholder {
  /* Firefox 19+ */
  color: #0b3a56;
}
.Light-Gray-Control:-ms-input-placeholder {
  /* IE 10+ */
  color: #0b3a56;
}
.Light-Gray-Control:-moz-placeholder {
  /* Firefox 18- */
  color: #0b3a56;
}
.Light-Gray-Control:focus {
  outline: none;
}
.File-Control-Container {
  position: relative;
}
.File-Control-Container svg {
  position: relative;
}
.File-Control-Container input[type=file] {
  display: none;
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
a,
a:hover,
a:focus,
a:active {
  outline: none!important;
  text-decoration: none!important;
}
.side-bar {
  padding-top: 20px;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  top: 0px;
  left: 0;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #1776b0;
  -webkit-box-shadow: 1px -1px 7px 0px #a3a3a3;
  -moz-box-shadow: 1px -1px 7px 0px #a3a3a3;
  box-shadow: 1px -1px 7px 0px #a3a3a3;
}
.side-bar hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #c4c4c4;
  margin: 1em 0;
  width: 90%;
  padding: 0;
}
.side-bar > .title {
  font-weight: 600;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.side-bar a:not(.Button) {
  display: block;
  color: #fff;
  padding: 5px 10px;
}
.side-bar a:not(.title):not(.Button):not(.side-bar-arrow) {
  cursor: pointer;
}
.side-bar a:not(.title):not(.Button):not(.side-bar-arrow):hover {
  background-color: rgba(196, 196, 196, 0.2);
}
.side-bar .side-bar-arrow {
  /*position: absolute;*/
  /*bottom: 10px;*/
  margin-top: 30px;
}
.side-bar .icon {
  width: 25px;
  display: block;
}
.side-bar .icon svg {
  display: block;
  width: 100%;
}
.side-bar .icon svg * {
  fill: #fff !important;
}
.side-bar .buttons a {
  display: block;
  width: 100%;
}
html,
body,
a {
  font-family: 'Arial';
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}
.text-bold {
  font-weight: 600;
}
body {
  position: relative;
  /*background-color:#fafafa;*/
}
body:not(.is-logon):not(.sidebar-collapsed) {
  padding-left: calc(120px + 30px);
}
body:not(.is-logon):not(.sidebar-collapsed) .side-bar {
  width: 120px;
}
body:not(.is-logon):not(.sidebar-collapsed) .side-bar .title {
  margin-bottom: 30px;
}
body:not(.is-logon):not(.sidebar-collapsed) .side-bar .side-bar-item .icon {
  display: none !important;
}
body:not(.is-logon).sidebar-collapsed {
  padding-left: 80px;
}
body:not(.is-logon).sidebar-collapsed .side-bar {
  width: 50px;
}
body:not(.is-logon).sidebar-collapsed .side-bar > .title {
  display: none;
}
body:not(.is-logon).sidebar-collapsed .side-bar .buttons {
  padding: 0;
}
body:not(.is-logon).sidebar-collapsed .side-bar .side-bar-arrow {
  transform: rotate(180deg);
}
body:not(.is-logon).sidebar-collapsed .side-bar .side-bar-item .name {
  display: none;
}
.bootbox-danger .modal-header {
  border-bottom: 3px solid #b00808;
}
.bootbox-danger .modal-footer {
  border-top: none;
}
.bootbox-info .modal-header {
  border-bottom: 3px solid rgba(122, 122, 122, 0.93);
}
.bootbox-info .modal-footer {
  border-top: none;
}
.bootbox-default .modal-header {
  border-bottom: 3px solid #2286c3;
}
.bootbox-default .modal-footer {
  border-top: none;
}
.s-btn-group {
  display: flex;
}
.s-btn-group .s-btn {
  margin-left: 0.2em;
}
.cursor-pointer {
  cursor: pointer;
}
.dropdown-menu > li > a {
  color: #1776b0;
  cursor: pointer;
}
.dropdown-menu > li > a:hover {
  color: #125d8b;
  cursor: pointer;
}
.dropdown-menu > li > a.dropdown-item-danger {
  color: #b00808;
}
.dropdown-menu > li > a.dropdown-item-danger:hover {
  color: #860707;
}
.input-group-container {
  display: flex;
}
.input-group-container .input-group-item {
  flex: 1;
  padding: 0.5em;
}
p.skeleton-loading-item {
  position: relative;
  overflow: hidden;
  background-color: #dbdbdd;
  margin: 0.7em 0 0.5em 0;
  border-radius: 5px;
  max-width: 10em;
  height: 1.4em;
}
p.skeleton-loading-item::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  animation: shimmer 2s infinite;
  content: '';
}
.checklist-container {
  /*max-height: 350px;
    overflow-y: auto;*/
  padding: 0.5em 0;
}
.checklist-container > p {
  margin: 0;
  padding: 5px;
}
.checklist-container .checklist-item-loading {
  position: relative;
  overflow: hidden;
  background-color: #dbdbdd;
  margin: 0.7em 0 0.5em 0;
  border-radius: 5px;
  max-width: 10em;
  height: 1.4em;
}
.checklist-container .checklist-item-loading::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  animation: shimmer 2s infinite;
  content: '';
}
.s-btn {
  border-radius: 5px;
  border: none;
  padding: 0.5em 1em;
  text-decoration: none;
  background-color: #2286c3;
  color: #fff;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
  text-align: center;
}
.s-btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.s-btn.s-btn-primary {
  color: #fff;
}
.s-btn.s-btn-primary:hover {
  background-color: #1776b0;
}
.s-btn.s-btn-outline {
  background-color: transparent;
  border: 1px solid #2286c3;
  color: #1776b0;
}
.s-btn.s-btn-outline:hover {
  background-color: rgba(212, 212, 212, 0.34);
}
.s-btn.s-btn-danger {
  background-color: #b00808;
  border: 1px solid #b00808;
  color: #fff;
}
.s-btn.s-btn-danger:hover {
  background-color: #860707;
}
.s-btn.s-btn-lg {
  padding: 1em 1.3em;
}
.s-btn.s-btn-sm {
  padding: 0.3em 0.5em;
}
.s-btn.s-btn-md {
  padding: 0.7em 1em;
}
.s-btn.s-btn-block {
  display: block;
  width: 100%;
}
.s-table-controls {
  margin: 0.5em 0;
}
.s-table-controls tr td {
  padding: 5px 5px 5px 0;
}
.v-container {
  padding-top: 1em;
  padding-bottom: 1em;
}
.h-container {
  padding-left: 1em;
  padding-right: 1em;
}
table th {
  font-weight: 600;
}
table th,
table td {
  position: relative;
}
.table-fixed {
  table-layout: fixed;
}
.modal-buttons {
  padding-bottom: 10px;
}
.modal-buttons button,
.modal-buttons a,
.modal-buttons input,
.modal-buttons select {
  margin-right: 10px;
}
.modal {
  z-index: 99999999;
}
.modal .modal-footer {
  text-align: center;
}
.modal-controls label {
  font-weight: lighter;
}
.table-controls th,
.table-controls td {
  position: relative;
}
.table-borderless {
  border: none !important;
}
.table-borderless td,
.table-borderless th {
  border: none !important;
}
.disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: default;
}
.disabled-section input,
.disabled-section select,
.disabled-section textarea,
.disabled-section button,
.disabled-section a {
  pointer-events: none;
  opacity: 0.5;
}
.control-with-button {
  display: block;
}
.control-with-button input {
  max-width: 300px;
  display: inline;
}
.table-parent {
  max-height: 440px !important;
  overflow-y: scroll;
}
.table-small-display {
  table-layout: fixed;
}
.table-small-display tbody {
  display: block;
  height: 250px;
  overflow: auto;
}
.table-small-display thead,
.table-small-display tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  /* even columns width , fix width of table too*/
}
.table-small-display thead {
  width: calc(100% - 1em);
  /* scrollbar is average 1em/16px width, remove it from thead width */
}
.table-small-display thead th {
  border-bottom: 2px solid #2286c3 !important;
}
.table-small-display table {
  width: 400px;
}
.display-message {
  color: #003355;
  display: block;
  margin: 10px 0 !important;
  padding: 4px 0 !important;
}
.main-container {
  padding: 20px;
}
a:active,
a:focus,
a:hover {
  outline: none !important;
}
[v-cloak]:not(#SideBar) {
  display: none;
}
#SideBar[v-cloak] .notification-count {
  display: none;
}
.multi-group-section {
  display: flex;
}
.multi-group-section .group {
  flex: 1;
}
.multi-group-section .group-container .group-content {
  flex: 1;
  margin-top: 10px;
  overflow-y: auto;
  padding: 0 10px 0 0;
  max-height: 400px;
}
.multi-group-section .middle-group {
  position: relative;
  padding-top: 200px;
  width: 50px;
  text-align: center;
}
.multi-group-section .right-group {
  flex: 1;
}
.multi-group-section .left-group {
  flex: 1;
}
.section-item {
  background-color: rgba(238, 238, 238, 0.94);
  border-radius: 10px;
  padding: 7px;
}
.section-item:not(:first-child) {
  margin: 10px 0;
}
.section-item p {
  margin-bottom: 2px;
}
.section-item .item-container {
  padding: 5px 0;
}
.section-item .item-child-items table {
  margin-bottom: 0;
}
[side-bar-tooltip] {
  position: relative;
}
[side-bar-tooltip]:hover {
  /*border-bottom: dotted 1px #fff;*/
}
[side-bar-tooltip]:hover:before {
  content: attr(side-bar-tooltip);
  background-color: #000;
  z-index: 999999;
  color: #fff;
  padding: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  top: 0.5em;
  left: 100%;
  position: absolute;
  white-space: nowrap;
}
.body-container {
  /*margin-top:50px;*/
  /*display: flex;

    .body-content {
        flex: 1;
    }*/
  display: block;
  min-height: 100vh;
  position: relative;
}
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}
/*datatables*/
.dataTables_wrapper .top {
  display: flex !important;
}
.dataTables_wrapper .top > div {
  flex: 1;
}
.dataTables_wrapper .top > div:first-child label {
  padding-left: 10px;
  font-size: 14px;
}
.dataTables_wrapper .top > div:first-child input {
  margin: 5px 0 !important;
}
.dataTables_wrapper .top > div:last-child {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right !important;
}
.dataTables_wrapper .top .paginate_button.page-item.active .page-link {
  background-color: #2286c3;
  border: none;
  padding: 5px !important;
  border-radius: 5px;
}
.dataTables_filter input {
  border: 1px solid #858585;
  border-radius: 5px;
  margin: 0 10px;
  font-weight: normal;
}
.dataTable {
  margin-top: 5px;
}
.dataTable thead tr th {
  background-color: #2286c3;
  color: #fff;
}
.dataTable thead tr th:first-child {
  border-top-left-radius: 15px;
}
.dataTable thead tr th:last-child {
  border-top-right-radius: 15px;
}
.dataTables_empty {
  font-size: 20px;
}
.paginate_button.current {
  /*color: @main-color !important;*/
}
.dataTables_paginate.paging_simple_numbers a {
  padding: 5px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  margin: 0 10px;
}
.dataTables_paginate.paging_simple_numbers a:hover {
  /*color: @main-color;*/
}
.dataTables_paginate.paging_simple_numbers .previous {
  /*.Button-Shared;*/
  margin-left: 20px !important;
}
.dataTables_paginate.paging_simple_numbers .next {
  /*.Button-Shared;*/
  margin-right: 20px !important;
}
.dataTables_paginate.paging_simple_numbers .paginate_button.disabled {
  opacity: 0.8;
}
.btn-audit {
  background-color: #2286c3 !important;
  color: white;
}
.btn-audit:hover {
  background-color: firebrick !important;
  color: white !important;
}
.btn-audit:focus {
  background-color: firebrick !important;
  color: white !important;
}
.text-danger {
  margin: 20px 0 !important;
}
.nav-pills li a {
  color: #2286c3 !important;
}
.nav-pills li.active a {
  background-color: #2286c3 !important;
  color: white !important;
}
textarea {
  resize: none;
}
#Pagination {
  /*direction: rtl;*/
  /*background-color: white;*/
  /*.Book-Shadow;*/
  width: 100%;
  /*position: fixed;*/
  bottom: 0px;
  right: 0;
  left: 0;
  display: block;
  margin-top: 20px;
  height: 40px;
  /*-webkit-box-shadow: 1px -2px 5px -2px rgba(94,94,94,1);
    -moz-box-shadow: 1px -2px 5px -2px rgba(94,94,94,1);
    box-shadow: 1px -2px 5px -2px rgba(94,94,94,1);*/
  border-top: 1px solid rgba(238, 238, 238, 0.94);
  text-align: center;
}
#Pagination .custom-pagination {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  justify-content: center;
  display: flex;
  /*flex-direction: row-reverse;*/
  /*justify-content: flex-end;*/
  list-style: none;
}
#Pagination .custom-pagination li {
  display: inline-block;
  margin: 0 5px;
}
#Pagination .custom-pagination li a {
  padding: 5px 10px;
}
#Pagination .custom-pagination li a:hover {
  color: #2286c3;
}
#Pagination .custom-pagination li.active a {
  position: relative;
  font-weight: bold;
  color: #2286c3;
  cursor: default;
  /*&::before {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        width: 25px;
                        height: 25px;
                        -moz-border-radius: 50%;
                        -webkit-border-radius: 50%;
                        border-radius: 50%;
                        transform:translate(8px,0px);
                        background-color: @main-hover;
                    }*/
}
#Pagination .custom-pagination li.disabled a {
  opacity: 0.5;
  cursor: default;
}
#Pagination .custom-pagination li:first-child a,
#Pagination .custom-pagination li:last-child a {
  border-radius: 5px;
  background-color: #2286c3;
  color: #fff !important;
}
.modal-checkboxes > span {
  margin: 5px;
}
.number-animation {
  font-size: 22px;
  font-weight: bold;
  border: 5px solid #2286c3;
  box-shadow: 0 0 10px;
  display: inline-block;
  min-width: 130px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
}
.w-50-px {
  width: 50px !important;
}
.w-100-px {
  width: 100px !important;
}
.w-200-px {
  width: 200px !important;
}
.w-300-px {
  width: 300px !important;
}
.d-flex-controls {
  display: flex;
}
.d-flex-controls select,
.d-flex-controls input {
  margin: 5px 5px 5px 0;
}
.d-flex-controls__buttons {
  padding-top: 3px;
}
.d-flex-controls__buttons input,
.d-flex-controls__buttons button,
.d-flex-controls__buttons a {
  display: inline;
}
@media (max-width: 767px) {
  .input-group-container {
    display: flex;
    flex-direction: column;
  }
  .input-group-container .input-group-item {
    flex: 1;
    padding: 0.5em;
  }
}
@media print {
  #SideBar {
    display: none;
  }
  body {
    padding: 10px !important;
  }
  .top-buttons {
    display: none;
  }
  button {
    display: none;
  }
}