.t {
  border: 1px solid red !important;
}
.b {
  border: 1px solid blue !important;
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
a,
a:hover,
a:focus,
a:active {
  outline: none !important;
  text-decoration: none !important;
}
body {
  /*background-image: url('/images/background.jpg');*/
}
.side-bar {
  padding-top: 20px;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  top: 0px;
  left: 0;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(0, 147, 233, 0.67);
  background-image: linear-gradient(160deg, #0093e9 0%, #80D0C7 100%);
  -webkit-box-shadow: 1px -1px 7px 0px #a3a3a3;
  -moz-box-shadow: 1px -1px 7px 0px #a3a3a3;
  box-shadow: 1px -1px 7px 0px #a3a3a3;
  -moz-transition: 100ms;
  -o-transition: 100ms;
  -webkit-transition: 100ms;
  transition: 100ms;
}
.side-bar[v-cloak] .notification-flag {
  display: none !important;
}
.side-bar hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #c4c4c4;
  margin: 1em 0;
  width: 90%;
  padding: 0;
}
.side-bar > .title {
  font-weight: 600;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.side-bar a:not(.Button) {
  display: block;
  color: #fff;
  padding: 5px 13px;
}
.side-bar a:not(.title):not(.Button):not(.side-bar-arrow) {
  cursor: pointer;
}
.side-bar a:not(.title):not(.Button):not(.side-bar-arrow):hover {
  background-color: rgba(196, 196, 196, 0.2);
}
.side-bar .side-bar-arrow {
  /*position: absolute;*/
  /*bottom: 10px;*/
  margin-top: 30px;
  cursor: pointer;
}
.side-bar .icon {
  width: 28px;
  display: inline-block;
}
.side-bar .icon svg {
  display: block;
  width: 100%;
}
.side-bar .icon svg * {
  fill: #fff !important;
}
.side-bar .notification-flag {
  position: absolute;
  right: 5px;
  top: 11.5px;
  height: 8px;
  width: 8px;
  display: block;
  background-color: #ffd800;
  border: 1px solid #ffd800;
  border-radius: 50%;
  animation: blinker 2s linear infinite;
}
.side-bar .side-bar-item {
  position: relative;
}
.side-bar .buttons a {
  display: block;
  width: 100%;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
@font-face {
  font-family: 'opensans-bold';
  src: url('../fonts/open-sans/opensans-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'opensans-italic';
  src: url('../fonts/open-sans/opensans-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'opensans-light';
  src: url('../fonts/open-sans/opensans-light.ttf') format('truetype');
}
@font-face {
  font-family: 'opensans-regular';
  src: url('../fonts/open-sans/opensans-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'montserrat-black';
  src: url('../fonts/montserrat/montserrat-black.ttf') format('truetype');
}
@font-face {
  font-family: 'montserrat-regular';
  src: url('../fonts/montserrat/montserrat-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'montserrat-light';
  src: url('../fonts/montserrat/montserrat-light.ttf') format('truetype');
}
@font-face {
  font-family: 'montserrat-medium';
  src: url('../fonts/montserrat/montserrat-medium.ttf') format('truetype');
}
html,
body,
a,
label,
ul {
  font-family: opensans-regular;
}
.nav-tabs > li > a {
  cursor: pointer;
}
.readonly-block-label {
  display: block;
  font-weight: normal;
}
.table-gray-header th {
  background-color: #eeeeee;
}
.readonly-select {
  font-weight: normal;
  border: none;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-family: montserrat-regular;
}
.top-intro h1,
.top-intro h2,
.top-intro h3,
.top-intro h4,
.top-intro h5 {
  padding: 0px 8px;
}
.top-intro table th {
  background-color: #eeeeee;
}
.text-bold {
  font-weight: 600;
}
.d-block {
  display: block;
}
b {
  font-weight: 600;
}
body {
  position: relative;
  /*background-color:#fafafa;*/
}
body:not(.is-logon):not(.sidebar-collapsed) {
  padding-left: calc(120px + 30px);
}
body:not(.is-logon):not(.sidebar-collapsed) .side-bar {
  width: 120px;
}
body:not(.is-logon):not(.sidebar-collapsed) .side-bar .title {
  margin-bottom: 30px;
}
body:not(.is-logon):not(.sidebar-collapsed) .side-bar .side-bar-item .icon {
  display: none !important;
}
body:not(.is-logon).sidebar-collapsed {
  padding-left: calc(65px + 30px);
}
body:not(.is-logon).sidebar-collapsed .side-bar {
  width: calc(65px);
}
body:not(.is-logon).sidebar-collapsed .side-bar > .title {
  display: none;
}
body:not(.is-logon).sidebar-collapsed .side-bar .buttons {
  padding: 0;
}
body:not(.is-logon).sidebar-collapsed .side-bar .side-bar-arrow {
  transform: rotate(180deg);
}
body:not(.is-logon).sidebar-collapsed .side-bar .side-bar-item {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  margin-bottom: 1.2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: center;
  align-items: center;
}
body:not(.is-logon).sidebar-collapsed .side-bar .side-bar-item .name {
  order: 2;
  padding-top: 0.5em;
  font-size: 0.7em;
}
body:not(.is-logon).sidebar-collapsed .side-bar .side-bar-item .icon {
  text-align: center;
}
.bootbox-danger .modal-header {
  border-bottom: 3px solid #b00808;
}
.bootbox-danger .modal-footer {
  border-top: none;
}
.bootbox-info .modal-header {
  border-bottom: 3px solid #5f5f5f;
}
.bootbox-info .modal-footer {
  border-top: none;
}
.bootbox-default .modal-header {
  border-bottom: 3px solid #0093e9;
}
.bootbox-default .modal-footer {
  border-top: none;
}
.s-btn-group {
  display: flex;
}
.s-btn-group .s-btn {
  margin-left: 0.2em;
}
.cursor-pointer {
  cursor: pointer;
}
.dropdown li a {
  cursor: pointer;
}
/*.dropdown-menu {
    > li > a {
        color: @main-dark;
        cursor: pointer;

        &:hover {
            color: @main-xdark;
            cursor: pointer;
        }

        &.dropdown-item-danger {
            color: @color-danger;

            &:hover {
                color: @color-danger-dark;
            }
        }
    }
}*/
.input-group-container {
  display: flex;
}
.input-group-container .input-group-item {
  flex: 1;
  padding: 0.5em;
}
p.skeleton-loading-item {
  position: relative;
  overflow: hidden;
  background-color: #dbdbdd;
  margin: 0.7em 0 0.5em 0;
  border-radius: 5px;
  max-width: 10em;
  height: 1.4em;
}
p.skeleton-loading-item::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  animation: shimmer 2s infinite;
  content: '';
}
.checklist-container {
  /*max-height: 350px;
    overflow-y: auto;*/
  padding: 0.5em 0;
}
.checklist-container > p {
  margin: 0;
  padding: 5px;
}
.checklist-container .checklist-item-loading {
  position: relative;
  overflow: hidden;
  background-color: #dbdbdd;
  margin: 0.7em 0 0.5em 0;
  border-radius: 5px;
  max-width: 10em;
  height: 1.4em;
}
.checklist-container .checklist-item-loading::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  animation: shimmer 2s infinite;
  content: '';
}
.s-btn {
  border-radius: 5px;
  border: none;
  padding: 0.5em 1em;
  text-decoration: none;
  background-color: #0093e9;
  color: #fff;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
  text-align: center;
}
.s-btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.s-btn.s-btn-primary {
  color: #fff;
  border: 1px solid #0093e9;
}
.s-btn.s-btn-primary:hover {
  background-color: #0082ce;
}
.s-btn.s-btn-outline {
  background-color: transparent;
  border: 1px solid #5f5f5f;
  color: #5f5f5f;
}
.s-btn.s-btn-outline:hover {
  background-color: rgba(212, 212, 212, 0.34);
}
.s-btn.s-btn-outline-main {
  background-color: transparent;
  border: 1px solid #0082ce;
  color: #0082ce;
}
.s-btn.s-btn-outline-main:hover {
  background-color: rgba(212, 212, 212, 0.34);
}
.s-btn.s-btn-danger {
  background-color: #b00808;
  border: 1px solid #b00808;
  color: #fff;
}
.s-btn.s-btn-danger:hover {
  background-color: #860707;
}
.s-btn.s-btn-o-danger {
  background-color: transparent;
  border: 1px solid #b00808;
  color: #b00808;
}
.s-btn.s-btn-o-danger:hover {
  background-color: rgba(212, 212, 212, 0.34);
}
.s-btn.s-btn-lg {
  padding: 1em 1.3em;
}
.s-btn.s-btn-sm {
  padding: 0.3em 0.5em;
}
.s-btn.s-btn-md {
  padding: 0.7em 1em;
}
.s-btn.s-btn-block {
  display: block;
  width: 100%;
}
.s-table-controls {
  margin: 0.5em 0;
}
.s-table-controls tr td {
  padding: 5px 5px 5px 0;
}
.v-container {
  padding-top: 1em;
  padding-bottom: 1em;
}
.h-container {
  padding-left: 1em;
  padding-right: 1em;
}
table th {
  font-weight: 600;
}
table th,
table td {
  position: relative;
}
.table-fixed {
  table-layout: fixed;
}
.modal-buttons {
  padding-bottom: 10px;
}
.modal-buttons button,
.modal-buttons a,
.modal-buttons input,
.modal-buttons select {
  margin-right: 10px;
}
.modal {
  z-index: 99999999;
}
.modal .modal-footer {
  text-align: center;
}
.modal-controls label {
  font-weight: lighter;
}
.table-controls th,
.table-controls td {
  position: relative;
}
.table-borderless {
  border: none !important;
}
.table-borderless td,
.table-borderless th {
  border: none !important;
}
.disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: default;
}
.disabled-section input,
.disabled-section select,
.disabled-section textarea,
.disabled-section button,
.disabled-section a {
  pointer-events: none;
  opacity: 0.5;
}
.control-with-button {
  display: block;
}
.control-with-button input {
  max-width: 300px;
  display: inline;
}
.table-parent {
  max-height: 440px !important;
  overflow-y: scroll;
}
.table-sm td,
.table-sm th {
  font-size: 0.9em;
}
.table-fixed-header-container {
  table-layout: fixed;
}
.table-fixed-header-container tbody {
  display: block;
  max-height: 200px;
  overflow: auto;
  margin-top: 1px;
}
.table-fixed-header-container thead,
.table-fixed-header-container tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  /* even columns width , fix width of table too*/
}
.table-fixed-header-container thead {
  width: calc(100% - 1em);
  /* scrollbar is average 1em/16px width, remove it from thead width */
}
.table-fixed-header-container thead th {
  border-bottom: 2px solid #0093e9 !important;
}
.table-fixed-header-container table {
  width: 100%;
}
.display-message {
  color: #003355;
  display: block;
  margin: 10px 0 !important;
  padding: 4px 0 !important;
}
.main-container {
  padding: 20px;
}
a:active,
a:focus,
a:hover {
  outline: none !important;
}
[v-cloak]:not(#SideBar) {
  display: none;
}
#SideBar[v-cloak] .notification-count {
  display: none;
}
.multi-group-section {
  display: flex;
}
.multi-group-section .group {
  flex: 1;
}
.multi-group-section .group-container .group-content {
  flex: 1;
  margin-top: 10px;
  overflow-y: auto;
  padding: 0 10px 0 0;
  max-height: 400px;
}
.multi-group-section .middle-group {
  position: relative;
  padding-top: 200px;
  width: 50px;
  text-align: center;
}
.multi-group-section .right-group {
  flex: 1;
}
.multi-group-section .left-group {
  flex: 1;
}
.section-item {
  background-color: rgba(238, 238, 238, 0.94);
  border-radius: 10px;
  padding: 7px;
}
.section-item:not(:first-child) {
  margin: 10px 0;
}
.section-item p {
  margin-bottom: 2px;
}
.section-item .item-container {
  padding: 5px 0;
}
.section-item .item-child-items table {
  margin-bottom: 0;
}
[side-bar-tooltip] {
  position: relative;
}
[side-bar-tooltip] {
  /*border-bottom: dotted 1px #fff;*/
}
[side-bar-tooltip]:before {
  /*content: attr(side-bar-tooltip);
        background-color: #000;
        z-index: 999999;
        color: #fff;
        padding: 5px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        top: 0.5em;
        left: 100%;
        position: absolute;
        white-space: nowrap;*/
}
.body-container {
  /*margin-top:50px;*/
  /*display: flex;

    .body-content {
        flex: 1;
    }*/
  display: block;
  min-height: 100vh;
  position: relative;
}
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}
/*datatables*/
.dataTables_wrapper .top {
  display: flex !important;
}
.dataTables_wrapper .top > div {
  flex: 1;
}
.dataTables_wrapper .top > div:first-child label {
  padding-left: 10px;
  font-size: 14px;
}
.dataTables_wrapper .top > div:first-child input {
  margin: 5px 0 !important;
}
.dataTables_wrapper .top > div:last-child {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right !important;
}
.dataTables_wrapper .top .paginate_button.page-item.active .page-link {
  background-color: #0093e9;
  border: none;
  padding: 5px !important;
  border-radius: 5px;
}
.dataTables_filter input {
  border: 1px solid #858585;
  border-radius: 5px;
  margin: 0 10px;
  font-weight: normal;
}
.dataTable {
  margin-top: 5px;
}
.dataTable thead tr th {
  background-color: #0093e9;
  color: #fff;
}
.dataTable thead tr th:first-child {
  border-top-left-radius: 15px;
}
.dataTable thead tr th:last-child {
  border-top-right-radius: 15px;
}
.dataTables_empty {
  font-size: 20px;
}
.paginate_button.current {
  /*color: @main-color !important;*/
}
.dataTables_paginate.paging_simple_numbers a {
  padding: 5px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  margin: 0 10px;
}
.dataTables_paginate.paging_simple_numbers a:hover {
  /*color: @main-color;*/
}
.dataTables_paginate.paging_simple_numbers .previous {
  /*.Button-Shared;*/
  margin-left: 20px !important;
}
.dataTables_paginate.paging_simple_numbers .next {
  /*.Button-Shared;*/
  margin-right: 20px !important;
}
.dataTables_paginate.paging_simple_numbers .paginate_button.disabled {
  opacity: 0.8;
}
.btn-audit {
  background-color: #0093e9 !important;
  color: white;
}
.btn-audit:hover {
  background-color: firebrick !important;
  color: white !important;
}
.btn-audit:focus {
  background-color: firebrick !important;
  color: white !important;
}
.text-danger {
  margin: 20px 0 !important;
}
.nav-pills li a {
  color: #0093e9 !important;
}
.nav-pills li.active a {
  background-color: #0093e9 !important;
  color: white !important;
}
textarea {
  resize: none;
}
#Pagination {
  /*direction: rtl;*/
  /*background-color: white;*/
  /*.Book-Shadow;*/
  width: 100%;
  /*position: fixed;*/
  bottom: 0px;
  right: 0;
  left: 0;
  display: block;
  margin-top: 20px;
  height: 40px;
  /*-webkit-box-shadow: 1px -2px 5px -2px rgba(94,94,94,1);
    -moz-box-shadow: 1px -2px 5px -2px rgba(94,94,94,1);
    box-shadow: 1px -2px 5px -2px rgba(94,94,94,1);*/
  border-top: 1px solid rgba(238, 238, 238, 0.94);
  text-align: center;
}
#Pagination .custom-pagination {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  justify-content: center;
  display: flex;
  /*flex-direction: row-reverse;*/
  /*justify-content: flex-end;*/
  list-style: none;
}
#Pagination .custom-pagination li {
  display: inline-block;
  margin: 0 5px;
}
#Pagination .custom-pagination li a {
  padding: 5px 10px;
}
#Pagination .custom-pagination li a:hover {
  color: #0093e9;
}
#Pagination .custom-pagination li.active a {
  position: relative;
  font-weight: bold;
  color: #0093e9;
  cursor: default;
  /*&::before {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        width: 25px;
                        height: 25px;
                        -moz-border-radius: 50%;
                        -webkit-border-radius: 50%;
                        border-radius: 50%;
                        transform:translate(8px,0px);
                        background-color: @main-hover;
                    }*/
}
#Pagination .custom-pagination li.disabled a {
  opacity: 0.5;
  cursor: default;
}
#Pagination .custom-pagination li:first-child a,
#Pagination .custom-pagination li:last-child a {
  border-radius: 5px;
  background-color: #0093e9;
  color: #fff !important;
}
.modal-checkboxes > span {
  margin: 5px;
}
.number-animation {
  font-size: 22px;
  font-weight: bold;
  border: 5px solid #0093e9;
  box-shadow: 0 0 10px;
  display: inline-block;
  min-width: 130px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
}
.w-50-px {
  width: 50px !important;
}
.w-100-px {
  width: 100px !important;
}
.w-200-px {
  width: 200px !important;
}
.w-300-px {
  width: 300px !important;
}
.d-flex-controls {
  display: flex;
}
.d-flex-controls select,
.d-flex-controls input {
  margin: 5px 5px 5px 0;
}
.d-flex-controls__buttons {
  padding-top: 3px;
}
.d-flex-controls__buttons input,
.d-flex-controls__buttons button,
.d-flex-controls__buttons a {
  display: inline;
}
.tasks-rows-highlight tr td:first-child {
  border-left: 0.5em solid;
}
.tasks-rows-highlight tr.pending td:first-child {
  border-left-color: rgba(247, 132, 56, 0.74);
}
.tasks-rows-highlight tr.inprogress td:first-child {
  border-left-color: rgba(75, 89, 255, 0.74);
}
.tasks-rows-highlight tr.done td:first-child {
  border-left-color: rgba(63, 204, 53, 0.65);
}
.tasks-rows-highlight tr.failed td:first-child,
.tasks-rows-highlight tr.terminated td:first-child {
  border-left-color: rgba(187, 0, 0, 0.66);
}
@media (max-width: 767px) {
  .input-group-container {
    display: flex;
    flex-direction: column;
  }
  .input-group-container .input-group-item {
    flex: 1;
    padding: 0.5em;
  }
}
@media print {
  #SideBar {
    display: none;
  }
  body {
    padding: 10px !important;
  }
  .top-buttons {
    display: none;
  }
  button {
    display: none;
  }
}