.t {
  border: 1px solid red !important;
}
.b {
  border: 1px solid blue !important;
}
.Fill-Background {
  background-color: rgba(238, 238, 238, 0.94);
}
.Box-Shadow-Right {
  -webkit-box-shadow: 1px -1px 7px 0px #a3a3a3;
  -moz-box-shadow: 1px -1px 7px 0px #a3a3a3;
  box-shadow: 1px -1px 7px 0px #a3a3a3;
}
.scrollable-container-200 {
  overflow-y: auto;
  max-height: 200px;
}
.scrollable-container-300 {
  overflow-y: auto;
  max-height: 300px;
}
.scrollable-container-400 {
  overflow-y: auto;
  max-height: 400px;
}
.scrollable-container-500 {
  overflow-y: auto;
  max-height: 400px;
}
.clickable-link {
  color: #1776b0;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.flex-right-left {
  display: flex;
}
.flex-right-left .text-bold {
  font-weight: 600;
}
.flex-right-left .small-date {
  color: rgba(122, 122, 122, 0.93);
  font-size: 12px;
}
.flex-right-left .left-side {
  flex: 1;
  text-align: left;
}
.flex-right-left ul {
  width: 100%;
  padding: 0 20px;
}
.flex-right-left .right-side {
  flex: 1;
  text-align: right;
}
.cell-arrow {
  width: 20px !important;
  cursor: pointer;
}
.cell-arrow * {
  fill: #1776b0;
}
.cell-arrow.rotate-180 {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.rotate-Arrow {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Safari 3-8 */
}
.main-dark-color {
  color: #1776b0 !important;
}
.main-light-color {
  color: #5bcbee;
}
.main-color {
  color: #2286c3;
}
.light-color {
  color: #fff;
}
.main-dark-background {
  background-color: #1776b0;
}
.main-light-background {
  background-color: #c9eefa;
}
.table-child {
  font-size: 0.9em;
  margin-bottom: 5px;
}
.table-child th {
  font-weight: 600;
  padding: 3px !important;
}
.table-child td {
  padding: 3px !important;
}
.gray-light-background {
  background-color: rgba(207, 207, 207, 0.63);
}
.main-background {
  background-color: #1776b0;
}
.BoxShadow {
  -webkit-box-shadow: -2px 3px 20px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 3px 20px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 3px 20px -10px rgba(0, 0, 0, 0.75);
}
.BoxShadow-Right {
  -webkit-box-shadow: 11px 0px 20px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 0px 20px -17px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 0px 20px -17px rgba(0, 0, 0, 0.75);
}
.Error {
  border: 1px solid red !important;
}
.Button {
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  text-decoration: none;
}
.Button-Shared {
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  /*line-height:16px;*/
  background-color: #2286c3;
  color: #fff !important;
}
.Button-Shared:hover {
  background-color: #1776b0;
}
.Button-Shared:disabled {
  opacity: 0.5;
}
.Button-Shared.Button-Small {
  padding: 3px 10px;
}
.Button-Shared.Button-Large {
  padding: 1.5em;
}
.Button-Danger {
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  background-color: #fff;
  color: #1776b0 !important;
  border: 1px solid #1776b0;
}
.Button-Danger:hover {
  background-color: rgba(216, 243, 251, 0.85);
}
.TextCenter {
  text-align: center;
}
.TextLeft {
  text-align: center;
}
.TextRight {
  text-align: right;
}
.Buttons-Section button:not(:first-child),
.Buttons-Section a:not(:first-child),
.Buttons-Section input:not(:first-child),
.Buttons-Section button:not(:last-child),
.Buttons-Section a:not(:last-child),
.Buttons-Section input:not(:last-child) {
  margin-right: 5px;
}
.Link-Shared {
  cursor: pointer !important;
  text-decoration: none;
  color: #1776b0;
}
.Link-Shared:not(:first-child),
.Link-Shared:not(:last-child) {
  margin-left: 5px;
}
.Link-Shared:hover {
  color: #2286c3;
}
.Link-Shared:active {
  color: #2286c3;
}
.LinksSection {
  display: block;
}
.LinksSection a {
  cursor: pointer !important;
  text-decoration: none;
  color: #1776b0;
}
.LinksSection a:not(:first-child),
.LinksSection a:not(:last-child) {
  margin-left: 5px;
}
.LinksSection a:hover {
  color: #2286c3;
}
.LinksSection a:active {
  color: #2286c3;
}
.Button-Block-Small {
  width: 100%;
  padding: 5px 10px;
}
.Button-Block {
  width: 100%;
}
.MiddleBoxContainerTemplate {
  padding: 40px 40px;
}
.MiddleBoxContainerTemplate .MiddleBox {
  max-width: 650px;
  margin: auto;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: -2px 3px 20px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 3px 20px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 3px 20px -10px rgba(0, 0, 0, 0.75);
}
.MiddleBoxContainerTemplate .MiddleBox h3 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 30px 0;
  text-align: center;
  background-color: #1776b0;
  color: #fff;
}
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent {
  padding: 1em 1.5em;
  position: relative;
}
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent select {
  margin: 5px 0;
}
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=email],
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=text],
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=password],
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent select {
  border: none;
  padding: 10px 15px;
  background-color: rgba(238, 238, 238, 0.94);
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
}
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=email]::-webkit-input-placeholder,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=text]::-webkit-input-placeholder,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=password]::-webkit-input-placeholder,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent select::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #0b3a56;
}
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=email]::-moz-placeholder,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=text]::-moz-placeholder,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=password]::-moz-placeholder,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent select::-moz-placeholder {
  /* Firefox 19+ */
  color: #0b3a56;
}
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=email]:-ms-input-placeholder,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=text]:-ms-input-placeholder,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=password]:-ms-input-placeholder,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent select:-ms-input-placeholder {
  /* IE 10+ */
  color: #0b3a56;
}
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=email]:-moz-placeholder,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=text]:-moz-placeholder,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent input[type=password]:-moz-placeholder,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent select:-moz-placeholder {
  /* Firefox 18- */
  color: #0b3a56;
}
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  outline: none !important;
}
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent select:hover,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent select:active,
.MiddleBoxContainerTemplate .MiddleBox .MiddleBoxContent select:focus {
  outline: none !important;
}
.MiddleBoxContainerTemplate .MiddleBox .MiddleLinks {
  margin-bottom: 20px;
  text-align: right;
}
.MiddleBoxContainerTemplate .MiddleBox .BottomLinks {
  text-align: center;
  padding-top: 20px;
}
.notifyjs-corner {
  top: 45px;
}
.Icon-Plane {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.Icon-Danger {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.Icon-Danger * {
  fill: #b00000;
}
.Icon-Default {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.Icon-Default * {
  fill: #1776b0;
}
.Icon-Default:hover * {
  fill: #2286c3;
}
.Light-Gray-Control {
  border: none;
  padding: 10px 20px;
  background-color: rgba(243, 241, 241, 0.9);
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
}
.Light-Gray-Control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #0b3a56;
}
.Light-Gray-Control::-moz-placeholder {
  /* Firefox 19+ */
  color: #0b3a56;
}
.Light-Gray-Control:-ms-input-placeholder {
  /* IE 10+ */
  color: #0b3a56;
}
.Light-Gray-Control:-moz-placeholder {
  /* Firefox 18- */
  color: #0b3a56;
}
.Light-Gray-Control:focus {
  outline: none;
}
.File-Control-Container {
  position: relative;
}
.File-Control-Container svg {
  position: relative;
}
.File-Control-Container input[type=file] {
  display: none;
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
[v-cloak] {
  display: none !important;
}
[v-cloak] * {
  display: none !important;
}
.ts-column-scrollable {
  max-height: 80vh;
  overflow-y: auto;
  -webkit-box-shadow: -2px 3px 20px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 3px 20px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 3px 20px -10px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
}
#UserTimeSheets {
  display: flex;
  flex-direction: column;
}
#UserTimeSheets .list-group-item {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  font-weight: 400;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 0;
  border-bottom: 1px solid #eeeeee !important;
  -moz-transition: 100ms;
  -o-transition: 100ms;
  -webkit-transition: 100ms;
  transition: 100ms;
}
#UserTimeSheets .list-group-item.is-current-day {
  color: #1776b0;
  font-weight: bold;
}
#UserTimeSheets .list-group-item:hover {
  background-color: #c9eefa;
}
#UserTimeSheets .list-group-item.active-tab {
  background-color: #1776b0;
  color: #fff;
}
#UserTimeSheets .user-timesheets {
  /*width: 210px;*/
  /*min-width: 210px;*/
  flex: 1;
  padding: 1em 0;
  /*.ts-column-scrollable;*/
}
#UserTimeSheets .user-timesheets-content {
  display: flex;
  flex: 1;
  /*padding-right: 1em;*/
}
#UserTimeSheets .user-timesheets-content h5 {
  color: #333;
  font-weight: 600;
}
#UserTimeSheets .user-timesheets-content .user-timesheets-content-container {
  display: flex;
}
#UserTimeSheets .user-timesheets-content__days {
  width: 150px;
  max-height: 80vh;
  overflow-y: auto;
  -webkit-box-shadow: -2px 3px 20px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 3px 20px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 3px 20px -10px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
}
#UserTimeSheets .user-timesheets-content__projects {
  width: 280px;
  padding: 0 10px;
  -webkit-box-shadow: -1px 1px 15px -10px rgba(0, 0, 0, 0.95);
  -moz-box-shadow: -1px 1px 15px -10px rgba(0, 0, 0, 0.95);
  box-shadow: -1px 1px 15px -10px rgba(0, 0, 0, 0.95);
  margin: 0 1em;
  background-color: #eeeeee;
  position: relative;
  border-radius: 15px;
  -moz-transition: 100ms;
  -o-transition: 100ms;
  -webkit-transition: 100ms;
  transition: 100ms;
}
#UserTimeSheets .user-timesheets-content__projects.collapsed {
  display: none;
}
#UserTimeSheets .user-timesheets-content__projects .assigned-tasks-container {
  height: 70vh;
  overflow-y: auto;
}
#UserTimeSheets .user-timesheets-content__projects .timesheet-subProjects .item-subproject-activity {
  margin: 0 5px;
  border-radius: 5px;
  padding: 5px;
  background-color: #909090;
  color: #fff;
  cursor: pointer;
  transition: 50ms all ease-out;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 0.8em;
}
#UserTimeSheets .user-timesheets-content__projects .timesheet-subProjects .item-subproject-activity:hover {
  background-color: #5bcbee;
}
#UserTimeSheets .user-timesheets-content .task-activities {
  flex: 1;
}
#UserTimeSheets .user-timesheets-content .task-activities .c-box-view {
  flex-wrap: wrap;
  overflow: auto;
  max-height: 80vh;
}
#UserTimeSheets .user-timesheets-content .task-activities .c-box-view .c-box {
  min-height: 60px;
  padding: 0.5em;
  min-width: 120px;
}
#UserTimeSheets .user-timesheets-content .task-activities .c-box-view--loading .c-box-title {
  min-height: 0.9em;
}
.item-subproject {
  display: flex;
  /*background-color: #fff;*/
  cursor: default !important;
  border-radius: 5px;
  margin: 5px;
  /*&:hover {
        background-color: #fff !important;
    }*/
}
.item-subproject > span {
  padding: 5px;
}
.item-subproject__title {
  flex: 1;
}
.item-subproject__buttons {
  flex: auto;
  min-width: 60px;
  text-align: right;
}
.item-subproject__tags {
  overflow-y: auto;
  display: block;
  white-space: nowrap;
  width: 100%;
}
.item-subproject__tags .item-subproject-activity {
  display: inline-block;
}
.item-subproject__buttons > span {
  cursor: pointer;
  color: rgba(122, 122, 122, 0.93);
  display: inline;
  opacity: 0.6;
  transition: 100ms all ease-out;
  padding: 0 3px;
}
.item-subproject__buttons > span.active {
  cursor: default;
  pointer-events: none;
}
.item-subproject__buttons > span.disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.item-subproject__buttons > span:hover,
.item-subproject__buttons > span.active {
  color: #2286c3;
  opacity: 1;
}
table td {
  position: relative;
}
.modal-control {
  position: relative;
}
.hint-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  z-index: 9999999999;
  max-height: 200px;
  overflow: auto;
  -webkit-box-shadow: -2px 3px 20px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 3px 20px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 3px 20px -10px rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(122, 122, 122, 0.93);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.hint-list p {
  padding: 3px 10px;
  margin: 0;
}
.hint-list > span {
  display: block;
  padding: 3px 10px;
  cursor: pointer;
  z-index: 9999999999;
}
.hint-list > span * {
  pointer-events: none;
}
.hint-list > span:hover {
  background-color: #6bcfee;
}
.is-readonly .item-subproject__buttons {
  /*display: none !important;*/
}
.assigned-tasks {
  padding: 0.4em 1em 1em 1em;
  margin: 1em 0;
  background-color: rgba(255, 255, 255, 0.69);
  border-radius: 15px;
}
.assigned-tasks .assigned-task {
  padding: 0.5em;
  cursor: pointer;
  border-radius: 7px;
}
.assigned-tasks .assigned-task:not(.active):hover {
  background-color: #c9eefa;
}
.assigned-tasks .assigned-task .active {
  background-color: #2286c3;
  color: #fff;
}
.tasks-filter-container {
  display: flex;
}
.tasks-filter-container > span {
  opacity: 0.3;
  -moz-transition: 100ms;
  -o-transition: 100ms;
  -webkit-transition: 100ms;
  transition: 100ms;
  cursor: pointer;
  display: flex;
  padding: 5px 0;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}
.tasks-filter-container > span .fa,
.tasks-filter-container > span .far {
  width: 1.6em;
  padding-left: 0.2em;
  font-size: 1.5em;
}
.tasks-filter-container > span .filter-label {
  flex: 1;
  font-size: 0.8em;
}
.tasks-filter-container > span:hover,
.tasks-filter-container > span.active {
  opacity: 1;
}
.tasks-filter-container > span.active {
  background-color: #eeeeee;
  margin-right: 0.2em;
  padding: 5px 10px 5px 5px;
}
.task-filter--pending {
  color: #333;
}
.task-filter--pending {
  color: #f78438;
}
.task-filter--progress {
  color: #4b59ff;
}
.task-filter--done {
  color: #3fcc35;
}
.task-filter--failed {
  color: #bb0000;
}