.t {
  border: 1px solid red !important;
}
.b {
  border: 1px solid blue !important;
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
#timeSheetProjectsModal .modal-dialog {
  width: 776px;
}
.profile-header {
  background-color: #0082ce;
  border-radius: 15px;
  padding: 5px 0;
  -webkit-box-shadow: -1px 1px 15px -10px rgba(0, 0, 0, 0.95);
  -moz-box-shadow: -1px 1px 15px -10px rgba(0, 0, 0, 0.95);
  box-shadow: -1px 1px 15px -10px rgba(0, 0, 0, 0.95);
}
.profile-header table {
  margin: 0;
  max-width: 600px;
}
.profile-header table td,
.profile-header table th {
  border: none !important;
  color: #fff !important;
}
.profile-header table td:first-child,
.profile-header table th:first-child {
  width: 150px;
  padding-left: 10px;
}
.profile-content .nav-tabs li a {
  color: #0082ce !important;
}
.profile-content .tab-content .tab-pane {
  padding: 20px 0!important;
}
.activeActivity td {
  color: darkred;
  font-weight: 600;
}
.disabled-project-info {
  font-weight: lighter;
  position: relative;
  padding-left: 15px;
}
.disabled-project-info::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: darkred;
  font-weight: bold;
  position: absolute;
  font-size: 24px;
  left: 0;
  top: -6px;
}