@import 'variables.less';

[v-cloak] {
    display: none !important;

    * {
        display: none !important;
    }
}

.ts-column-scrollable {
    max-height: 80vh;
    overflow-y: auto;
    .box-shadow();
    border-radius: 15px;
}

#UserTimeSheets {
    display: flex;
    flex-direction: column;

    .list-group-item {
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;
        font-weight: 400;
        border-left: none;
        border-right: none;
        border-top: none;
        margin: 0;
        border-bottom: 1px solid @gray-xlight !important;
        .fast-transition();

        &.is-current-day {
            color: @main-dark;
            font-weight: bold;
        }

        &:hover {
            background-color: @main-xxlight;
        }

        &.active-tab {
            background-color: @main-dark;
            color: #fff;
        }
    }

    .user-timesheets {
        /*width: 210px;*/
        /*min-width: 210px;*/
        flex: 1;
        padding: 1em 0;
        /*.ts-column-scrollable;*/
    }

    .user-timesheets-content {
        display: flex;
        flex: 1;
        /*padding-right: 1em;*/
        h4 {
        }

        h5 {
            color: @dark-gray;
            font-weight: 600;
        }

        .user-timesheets-content-container {
            display: flex;
        }

        &__days {
            width: 150px;
            .ts-column-scrollable;
        }

        &__projects {
            width: 280px;
            padding: 0 10px;
            .box-shadow-sm();
            margin: 0 1em;
            background-color: @gray-xlight;
            position: relative;
            border-radius: 15px;
            .fast-transition();

            &.collapsed {
                display: none;
            }

            .assigned-tasks-container {
                height: 70vh;
                overflow-y: auto;
            }

            .timesheet-subProjects {
                .item-subproject-activity {
                    margin: 0 5px;
                    border-radius: 5px;
                    padding: 5px;
                    background-color: #909090;
                    color: #fff;
                    cursor: pointer;
                    transition: 50ms all ease-out;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    -webkit-user-select: none;
                    user-select: none;
                    font-size: 0.8em;

                    &:hover {
                        background-color: @main-light;
                    }
                }
            }
        }

        .task-activities {
            flex: 1;

            .task-activities-actions {

                .s-btn {
                    border-radius: 15px;
                }
            }

            .fa-stop, .fa-play {
                font-size: .7em;
                margin-right: 2px;
                transform: translateY(-2px);
            }


            .activity-deleted {
                background-color: #edb9b9;
            }

            .nothing-here {
                font-size: 2em;
                padding: 1em 0;
            }

            .c-box-view {
                flex-wrap: wrap;
                overflow: auto;
                max-height: 70vh;

                .c-box {
                    min-height: 60px;
                    padding: .5em .7em;
                    min-width: 120px;

                    &.active {
                        border: 2px solid @main-color;
                        animation: border-pulse 2s infinite;
                    }
                }

                .c-box-title {
                    font-weight: 400;
                    max-width: 100px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &--loading {
                    .c-box-title {
                        min-height: .9em;
                    }
                }
            }
        }
    }
}

@keyframes border-pulse {
    0% {
        border-color: @main-color;
    }

    50% {
        border-color: @main-xlight;
    }

    100% {
        border-color: @main-color;
    }
}

.item-subproject {
    display: flex;
    /*background-color: #fff;*/
    cursor: default !important;
    border-radius: 5px;
    margin: 5px;
    /*&:hover {
        background-color: #fff !important;
    }*/
    > span {
        padding: 5px;
    }

    &__title {
        flex: 1;
    }

    &__buttons {
        flex: auto;
        min-width: 60px;
        text-align: right;
    }

    &__tags {
        overflow-y: auto;
        display: block;
        white-space: nowrap;
        width: 100%;

        .item-subproject-activity {
            display: inline-block;
        }
    }

    &__buttons > span {
        cursor: pointer;
        color: @gray;
        display: inline;
        opacity: 0.6;
        transition: 100ms all ease-out;
        padding: 0 3px;

        &.active {
            cursor: default;
            pointer-events: none;
        }

        &.disabled {
            opacity: 0.3;
            cursor: default;
            pointer-events: none;
        }

        &:hover, &.active {
            color: @main-color;
            opacity: 1;
        }
    }
}

table td {
    position: relative;
}

.modal-control {
    position: relative;
}

.hint-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9999999999;
    max-height: 200px;
    overflow: auto;
    .BoxShadow;
    border: 1px solid @gray;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    p {
        padding: 3px 10px;
        margin: 0;
    }

    > span {
        display: block;
        padding: 3px 10px;
        cursor: pointer;
        z-index: 9999999999;

        * {
            pointer-events: none;
        }

        &:hover {
            background-color: @main-xlight;
        }
    }
}

.is-readonly {
    .item-subproject__buttons {
        /*display: none !important;*/
    }
}

.assigned-tasks {
    padding: .4em 1em 1em 1em;
    margin: 1em 0;
    background-color: rgba(255, 255, 255, 0.69);
    border-radius: 15px;

    .assigned-task {
        padding: .5em .7em;
        cursor: pointer;
        border-radius: 15px;


        &:not(.active):hover {
            background-color: @main-xxlight;
        }

        &.active {
            background-color: @main-color;
            color: #fff;
        }
    }
}

.tasks-filter-container {
    display: flex;

    > span {
        opacity: .3;
        .fast-transition();
        cursor: pointer;
        display: flex;
        padding: 5px 0;
        border-radius: 15px;
        justify-content: center;
        align-items: center;

        .fa, .far {
            width: 1.6em;
            padding-left: .2em;
            font-size: 1.5em;
        }

        .filter-label {
            flex: 1;
            font-size: .8em;
        }

        &:hover, &.active {
            opacity: 1;
        }

        &.active {
            background-color: @gray-xlight;
            margin-right: .2em;
            padding: 5px 10px 5px 5px;
        }

        &:not(:last-child) {
        }
    }
}

.task-filter {

    &--pending {
        color: @task-pending-color !important;
    }

    &--progress {
        color: @task-progress-color !important;
    }

    &--done {
        color: @task-done-color !important;
    }

    &--failed {
        color: @task-failed-color !important;
    }
}



.mark-as-container {
    display: inline-block;
    margin-left: 5px;

    .fa-thumbtack {
        font-size: .9em;
    }

    .dropdown-menu {
        border-radius: 0 15px 15px 15px;
        padding: 0;

        li > a {
            padding: 5px 15px;

            > span {
                display: inline-block;
                padding-left: 5px;
                color: @dark-gray;
            }

            &.active {
                font-weight: 600;
                background-color: @light-gray;
            }
        }
    }
}

#ActivityModal {

    .table {
        margin-bottom: 0;
    }


    .activity-action-feedback {
        max-width: 100px;
        margin: auto;
        padding: 1em;
        text-align: center;

        > i {
            color: @main-color;
            font-size: 4em;
        }

        .s-btn {
            margin-top: 1em;
        }
    }
}
