<div id="Categories" class="Categories v-container" v-cloak>

    <div class="buttons mb-2">
        <button type="button" v-on:click="categories_openModal" class="s-btn s-btn-primary">New Category &nbsp;<i class="fa fa-plus"></i></button>
    </div>

    <h4 v-show="!categories.isLoading && !categories.data.length ">
        <br />
        <span class="c-clickable-link" v-on:click="categories_openModal">Click Here</span> to add
    </h4>

    <section id="Pagination" class="c-pagination" v-show="categoriesTotalPages > 1">
        <div class="container">
            <paginate v-bind:page-count="categoriesTotalPages"
                      v-bind:container-class="categories.dataPaging.pagination"
                      v-bind:prev-text="categories.dataPaging.prev"
                      v-bind:next-text="categories.dataPaging.next" v-bind:click-handler="categories_pageClick">
            </paginate>
        </div>
    </section>
    <hr />
    <h5 class="c-display-message">{{categories.isLoading ? 'Loading...':`Total of ${categories.data.length} categories`}}</h5>

    <div v-show="categories.data.length" class="Categories c-table-data-container"
         v-bind:class="{'lock-controls': categories.isProcessing }">

        <table class="table ">

            <thead>
                <tr>
                    <th style="width: 50px">-</th>
                    <th>Name</th>
                    <th>Number of Projects</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <template v-for="(item ,idx) in categories.data">

                    <tr>
                        <td>
                            {{item.id}}
                        </td>

                        <td>
                            {{item.name}}
                        </td>

                        <td>
                            {{item.projectsCount}}
                        </td>

                        <td>
                            <button class="s-btn s-btn-sm s-btn-outline" type="button"
                                    v-on:click="categories_edit(idx)">

                                <i class="fa fa-edit"></i>
                                Edit
                            </button>
                            <button v-if="!item.projectsCount" class="s-btn s-btn-sm s-btn-danger" type="button"
                                    v-on:click="categories_delete(idx)">

                                <i class="fa fa-trash"></i>
                                Delete
                            </button>
                        </td>
                    </tr>

                </template>

            </tbody>
        </table>
    </div>

    <div class="modal" id="CategoryModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">


                <div class="modal-body">

                    <div class="input-group-container">
                        <div class="input-group-item">
                            <label>Category Name</label>
                            <input type="text" class="form-control" v-model="categories.form.record.name" />
                        </div>
                    </div>

                </div>

                <div class="modal-footer modal-footer-centered">
                    <p class="f-display-message">{{ categories.form.message}}</p>
                    <div class="modal-buttons-container">
                        <button v-bind:disabled="categories.form.isSaving" type="button" class="s-btn s-btn-primary" v-on:click="categories_save">
                            Save
                        </button>
                        <button type="button" class="s-btn s-btn-outline" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>