<div id="UserLogs" class="v-container" v-cloak>

    <div class="input-group-container" style="max-width:550px">
        <div class="input-group-item">
            <label>From Date</label>
            <date-picker v-model="fromDate" :config="dateTimeOptions"></date-picker>
        </div>
        <div class="input-group-item">
            <label>To Date</label>
            <date-picker v-model="toDate" :config="dateTimeOptions"></date-picker>
        </div>
        <div class="input-group-item">
            <label>&nbsp;</label>
            <div class="s-btn-group">
                <button v-on:click="searchUserLogs" class="s-btn s-btn-primary">Search</button>
                <button v-on:click="resetLogsFilter" :disabled="!(toDate || fromDate)" class="s-btn s-btn-outline">Reset</button>
            </div>
        </div>
    </div>

    <section v-show="!UsersLogsAreLoading && dataPaging.totalPages > 1" id="Pagination">
        <div class="container">

            <paginate :page-count="dataPaging.totalPages"
                      :container-class="dataPaging.pagination"
                      :prev-text="dataPaging.prev"
                      :next-text="dataPaging.next"
                      :click-handler="clickCallback">
            </paginate>

        </div>
    </section>

    <p v-show="UsersLogsAreLoading">Loading...</p>
    <h5 v-if="!UsersLogsAreLoading && !usersLogs.length">Nothing here yet</h5>

    <table class="table user-logs-results" v-if="usersLogs.length">
        <thead>
            <tr>
                <th>Full Name </th>
                <th>User Name</th>
                <th>Status</th>
                <th>From Date</th>
                <th>To Date </th>
                <th>Duration </th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="userLog in usersLogs" :class="userLog.logStatusDisplay.toLowerCase()">
                <td>{{userLog.fullName}}</td>
                <td>{{userLog.userName}}</td>
                <td v-bind:class="{'text-success  text-bold ':userIsActive(userLog)}">{{userLog.logStatusDisplay}}</td>
                <td>{{userLog.displayFromDate}}</td>
                <td>{{userLog.displayToDate}}</td>
                <td>{{userLog.durationDisplay}}</td>
                <td>{{userLog.ipAddressDisplay}}</td>
            </tr>
        </tbody>
    </table>
</div>