<div id="IpAddresses" v-cloak>

    <div class="modal-controls">
        <table class="table table-borderless" style="max-width:600px">
            <tr>
                <td>
                    <label>Address</label>
                    <input type="text" class="form-control" v-model="ipAddresses.form.address" />
                </td>
                <td>
                    <label>Title</label>
                    <input type="text" class="form-control" v-model="ipAddresses.form.title" />
                </td>
                <td>
                    <label>&nbsp;</label>
                    <div>
                        <button type="button" class="s-btn s-btn-primary" v-on:click="addIpAddress" :disabled="!(ipAddresses.form.title && ipAddresses.form.address)">Add</button>
                    </div>
                </td>
            </tr>
        </table>

        <h5 class="display-message">{{ipAddresses.message || '&nbsp;' }}</h5>
    </div>


    <div class="split-ips">
        <div class="listed-ips">
            <table class="table table-small-display  ">
                <thead>
                    <tr>
                        <th>Address</th>
                        <th>Title</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <tr v-if="!ipAddresses.isLoading && !ipAddresses.data">
                        <td colspan="2">Nothing Here</td>
                    </tr>

                    <tr v-if="ipAddresses.isLoading">
                        <td colspan="2">Loading...</td>
                    </tr>


                    <tr v-for="(item ,idx) in ipAddresses.data">
                        <td>
                            {{item.address}}
                        </td>
                        <td>
                            <span v-show="!item.isEdit">{{item.title}}</span>
                            <input class="form-control" v-show="item.isEdit" type="text" v-model="item.title" />
                        </td>
                        <td>
                            <button v-show="item.isEdit" class="btn btn-sm btn-default" type="button" v-on:click="updateIpAddress(idx)">Save</button>
                            <button v-show="item.isEdit" class="btn btn-sm btn-default" type="button" v-on:click="cancelIpAddressEdit(idx)">Cancel</button>
                            <button v-show="!item.isEdit" class="btn btn-sm btn-default" type="button" v-on:click="editIpAddress(idx)">Edit</button>
                            <button v-show="!item.isEdit" class="btn btn-sm btn-danger" type="button" v-on:click="deleteIpAddress(idx)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="unlisted-ips">
            <table class="table table-small-display  ">
                <thead>
                    <tr>
                        <th>Unlisted Addresses</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr v-if="!unlistedIsLoading && !unlistedIps.length">
                        <td colspan="2">Nothing Here</td>
                    </tr>

                    <tr v-if="unlistedIsLoading">
                        <td colspan="2">Loading...</td>
                    </tr>

                    <tr v-for="(item ,idx) in unlistedIps">
                        <td>
                            {{item}}
                        </td>
                        <td>
                            <button class="btn btn-sm btn-default" type="button" v-on:click="defineIp(item)">Define</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>