<div id="Settings" class="v-container">

    <div class="s-btn-group">

        <a class="s-btn s-btn-primary" href="/ipaddresses">
            <i class="glyphicon glyphicon-map-marker"></i>
            Location Allocation
        </a>
        <a class="s-btn s-btn-primary" href="/userslogs">
            <i class="glyphicon glyphicon-user"></i>
            User Logs
        </a>
    </div>


</div>