<div id="Users" class="Users v-container" v-cloak=v-cloak>

    @*<div class="buttons mb-2">
            <button type="button" v-on:click="users_openModal" class="s-btn s-btn-primary">New User &nbsp;<i class="glyphicon glyphicon-plus"></i></button>
        </div>*@

    <h4 v-show="!users.isLoading && !users.data.length ">
        <br />
        <span class="c-clickable-link" v-on:click="users_openModal">Click Here</span> to add
    </h4>

    <div class="input-group " style="max-width:300px">

        <input type="text" class="form-control" placeholder="Search" v-model="users.filterBy.keyword">

        <div class="input-group-btn">
            <button class="btn btn-default" type="submit" v-on:click="users_getAll(0)">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>

    </div>

    <section id="Pagination" class="c-pagination" v-show="usersTotalPages > 1">
        <div class="container">
            <paginate v-bind:page-count="usersTotalPages"
                      v-bind:container-class="users.dataPaging.pagination"
                      v-bind:prev-text="users.dataPaging.prev"
                      v-bind:next-text="users.dataPaging.next" v-bind:click-handler="users_pageClick">
            </paginate>
        </div>
    </section>

    <p class="c-display-message">{{users.isLoading ? 'Loading...':'&nbsp;'}}</p>

    <div v-show="users.data.length" class="Users c-table-data-container "
         v-bind:class="{'lock-controls': users.isProcessing }">

        <table class="table">

            <thead>
                <tr>
                    <th style="width: 50px">Name</th>
                    <th>Title</th>
                    <th>Email</th>
                    <th>Date of Birth</th>
                    <th>Monthly Salary</th>
                    <th>Hourly Rate</th>
                    <th>Employment Type</th>
                    <th>Supervising</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>

                <tr v-for="(item ,idx) in users.data">
                    <td>
                        {{item.fullName}}
                    </td>

                    <td>
                        {{item.title}}
                    </td>
                    <td>
                        {{item.email}}
                    </td>

                    <td>
                        {{users_isAdmin(item) ? '-': item.dateOfBirthDisplay}}
                    </td>

                    <td>
                        {{item.monthlySalary || '-'}}
                    </td>

                    <td>
                        {{item.hourlyRate || '-'}}
                    </td>

                    <td>
                        {{item.employmentTypeDisplay || '-'}}
                    </td>

                    <td v-if="users_isAdmin(item)" colspan="3"></td>

                    <template v-if="!users_isAdmin(item)">

                        <td>
                            <button class="s-btn s-btn-sm s-btn-outline"
                                    v-on:click="supervisors_edit(item.id)"
                                    type="button">
                                <i class="glyphicon glyphicon-user"></i>
                                Teams ({{item.supervisingCount}})
                            </button>
                        </td>

                        <td>
                            <a class="s-btn s-btn-primary" :href="`/profile/${item.id}`">Profile</a>
                        </td>

                        <td>

                            <div class="dropdown">

                                <i class="fa fa-ellipsis-v cursor-pointer fa-lg"
                                   data-toggle="dropdown"></i>

                                <ul class="dropdown-menu dropdown-menu-right " role="menu">
                                    <li>
                                        <a v-on:click="userRoles_edit(item.id)">
                                            <i class="glyphicon glyphicon-file"></i>
                                            Role
                                        </a>
                                    </li>
                                    <li>
                                        <a v-on:click="users_edit(idx)">
                                            <i class="glyphicon glyphicon-edit"></i>
                                            Edit
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item-danger" v-on:click="users_delete(idx)">
                                            <i class="glyphicon glyphicon-trash"></i>
                                            Delete
                                        </a>
                                    </li>
                                </ul>

                            </div>


                            @*<button class="s-btn s-btn-sm s-btn-outline" type="button"></button>*@

                            @*<button class="s-btn s-btn-sm s-btn-outline" type="button"
                                          v-on:click="users_edit(idx)"></button>
                                <button class="s-btn s-btn-sm s-btn-danger" type="button"></button>*@
                        </td>

                    </template>

                </tr>

            </tbody>
        </table>
    </div>

    <div class="modal" id="UserModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">

                    <div class="input-group-container">
                        <div class="input-group-item">
                            <label>First Name</label>
                            <input type="text" class="form-control" v-model="users.form.record.firstName" />
                        </div>
                        <div class="input-group-item">
                            <label>Middle Name</label>
                            <input type="text" class="form-control" v-model="users.form.record.middleName" />
                        </div>
                        <div class="input-group-item">
                            <label>Last Name</label>
                            <input type="text" class="form-control" v-model="users.form.record.lastName" />
                        </div>
                    </div>

                    <div class="input-group-container">

                        <div class="input-group-item">
                            <label>Title</label>
                            <input type="text" class="form-control" v-model="users.form.record.title" />
                        </div>

                        <div class="input-group-item">
                            <label>Email</label>
                            <input type="text" class="form-control" v-model="users.form.record.email" />
                        </div>

                        <div class="input-group-item">
                            <label>Employment Type</label>
                            <p v-show="users.employmentTypes.isLoading">Loading Statuses...</p>
                            <select v-if="users.employmentTypes.data.length" v-model="users.form.record.employmentTypeCode" class="form-control ">
                                <option :value="oNull">Not Set</option>
                                <option v-for="opt in users.employmentTypes.data" v-bind:value="opt.key">
                                    {{opt.value}}
                                </option>
                            </select>
                        </div>

                    </div>

                    <div class="input-group-container">
                        <div class="input-group-item">
                            <label>Monthly Salary</label>
                            <input type="text" class="form-control" v-model="users.form.record.monthlySalary" />
                        </div>
                        <div class="input-group-item">
                            <label>Hourly Rate</label>
                            <input type="text" class="form-control" v-model="users.form.record.hourlyRate" />
                        </div>
                    </div>

                </div>

                <div class="modal-footer modal-footer-centered">
                    <p class="f-display-message">{{ users.form.message}}</p>
                    <div class="modal-buttons-container">
                        <button v-bind:disabled="users.form.isSaving" type="button" class="s-btn s-btn-primary" v-on:click="users_save">
                            Save
                        </button>
                        <button type="button" class="s-btn s-btn-outline" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal" id="SupervisorsModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <label>Teams</label>
                    <div class="checklist-container scrollable-container-400">

                        <p v-show="supervisors.isLoading">Loading teams....</p>
                        <p v-show="!supervisors.isLoading && !supervisors.data.length">There are Currently No Teams Added!</p>
                        <p v-for="(team, idx) in supervisors.data">
                            <input type="checkbox" :value="team.id" v-model="supervisors.form.record.teamIds" />
                            {{team.name}}
                        </p>
                    </div>
                </div>

                <div class="modal-footer modal-footer-centered">
                    <p class="f-display-message">
                        {{supervisors.form.message}}
                    </p>
                    <div class="modal-buttons-container">
                        <button v-bind:disabled="supervisors.form.isSaving" type="button" class="s-btn s-btn-primary" v-on:click="supervisors_save">
                            Save {{supervisors.form.isSaving ? '...':''}}
                        </button>
                        <button type="button" class="s-btn s-btn-outline" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal" id="UserRolesModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <label>Roles</label>
                    <div class="checklist-container scrollable-container-400">

                        <p v-show="userRoles.isLoading">Loading roles....</p>
                        <p v-show="!userRoles.isLoading && !userRoles.data.length">-</p>
                        <p v-for="(role, idx) in userRoles.data">
                            <input type="radio" :value="role.name" v-model="userRoles.form.record.role" />
                            {{role.name}}
                        </p>
                    </div>
                </div>

                <div class="modal-footer modal-footer-centered">
                    <p class="f-display-message">
                        {{userRoles.form.message}}
                    </p>
                    <div class="modal-buttons-container">
                        <button v-bind:disabled="userRoles.form.isSaving" type="button" class="s-btn s-btn-primary" v-on:click="userRoles_save">
                            Save {{userRoles.form.isSaving ? '...':''}}
                        </button>
                        <button type="button" class="s-btn s-btn-outline" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>