@using ProjectTracking.DataContract
@model ProjectTracking.DataContract.User

@{
    ViewData["Title"] = "Profile";
}

<div id="Profile" class="v-container">

    <h2>@Model.FullName Profile</h2>

    <div class="top-section">

    </div>

    <div>

    </div>


</div>
