<div class="c-box c-box--light ">
    <h5 class="c-box-title">Notifications</h5>
    <div class="c-card-view scrollable-container-200">
        <div class="c-card">
            <h5 class="c-card-title">Team</h5>
            <small>1 Jan 2021 10:00 am</small>
            <p>MessageMessage   Message  Message Message Message Message Message</p>
        </div>
        <div class="c-card">
            <h5 class="c-card-title">Team</h5>
            <small>1 Jan 2021 10:00 am</small>
            <p>Message</p>
        </div>
        <div class="c-card">
            <h5 class="c-card-title">Team</h5>
            <small>1 Jan 2021 10:00 am</small>
            <p>Message</p>
        </div>
        <div class="c-card">
            <h5 class="c-card-title">Team</h5>
            <small>1 Jan 2021 10:00 am</small>
            <p>Message</p>
        </div>
        <div class="c-card">
            <h5 class="c-card-title">Team</h5>
            <small>1 Jan 2021 10:00 am</small>
            <p>Message</p>
        </div>
    </div>
</div>
