@* O activities (latest) *@
@* O members (logs) *@
@* O members activities *@
@* O teams (supervising) activities *@


<template v-if="overview.data">

    <div class="c-box latest-logs">
        <h5 class="c-box-title">Today's Logs</h5>
        <div class="table-fixed-header-container">
            <table class="table table-sm" v-if="overview.data.userLogsToday.length">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Duration</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="log in overview.data.userLogsToday" :class="log.logStatusDisplay.toLowerCase()">
                        <td>
                            <a :href="`/profile/${log.userId}`">{{log.userName}}</a>
                        </td>
                        <td>{{log.displayFromDate}}</td>
                        <td>{{log.displayToDate}}</td>
                        <td>{{log.durationDisplay}}</td>
                        <td>{{log.logStatusDisplay}}</td>
                    </tr>
                </tbody>
            </table>
            <h5 v-else>Nothing Here</h5>
        </div>
    </div>

    <div class="c-box latest-activities tasks-rows-highlight">
        <h5 class="c-box-title">Activities</h5>
        <div class="table-fixed-header-container">
            <table class="table table-sm " v-if="overview.data.latestActivities.length">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>By</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="activity in overview.data.latestActivities"  :class="activity.projectTask.statusDisplay.toLowerCase()">
                        <td>
                            <a v-if="activity.timeSheetTask"  :href="`/timesheets/explore?uid=${activity.user.id}&tid=${activity.timeSheetTask.timeSheetId}&pt=${activity.timeSheetTask.projectTaskId}`">
                                {{activity.projectTask.title}}
                            </a>
                            <a v-else :href="`/tasks/${activity.projectTask.id}`">
                                {{activity.projectTask.title}}
                            </a>
                        </td>
                        <td>
                            <a :href="`/profile/${activity.user.id}`">{{activity.user.fullName}}</a>
                        </td>
                        <td>{{activity.fromDateDisplay}}</td>
                        <td>{{activity.toDate ? activity.toDateDisplay : 'Active'}}</td>
                        <td>{{activity.projectTask.statusDisplay}}</td>
                    </tr>
                </tbody>
            </table>
            <h5 v-else>Nothing Here</h5>
        </div>
    </div>

</template>


<div class="c-box vis-activities-minutes" style="display:none">
    <h5 class="c-box-title">Members Activities (Minutes)</h5>
    <canvas id="members_line_activities_minutes"></canvas>
</div>

<div class="c-box vis-activities-frequency" style="display:none">
    <h5 class="c-box-title">Members Activities (Frequency)</h5>
    <canvas id="members_line_activities_frequency"></canvas>
</div>


<div class="c-box vis-activities-minutes" style="display:none">
    <h5 class="c-box-title">Teams Activities (Minutes)</h5>
    <canvas id="teams_line_activities_minutes"></canvas>
</div>

<div class="c-box vis-activities-frequency" style="display:none">
    <h5 class="c-box-title">Teams Activities (Frequency)</h5>
    <canvas id="teams_line_activities_frequency"></canvas>
</div>


